@page "/connection"
@page "/"
@using MachineControlHub.PrinterConnection
@inject Data.ConnectionServiceSerial serial
@inject Data.PrinterData printer

<PageTitle>Serial Connection</PageTitle>
<div class="center-div">
    <h5 style="color: @(serial.isConnected == "Connected" ? "green" : "red")">@serial.isConnected</h5>

    <h1>Serial Connection</h1>


    <button class="button-30" @onclick="ConnectionConfiguration"> Connect</button>
    <button class="button-30" @onclick="serial.Disconnect"> Disconnect</button>

    <p>Port:</p>
    <select class="center-div" @bind="@serial.portName" style="width:100px">
        @foreach (var template in serial.GetPorts())
        {
            <option value=@template>@template</option>
        }
    </select>
    <p>Baudrate:</p>
    <select class="center-div" @bind="@serial.baudRate" style="width:100px">
        <option value="115200">115200</option>
        <option value="250000">250000</option>
    </select>
</div>
@code {

    public void ConnectionConfiguration()
    {
        try
        {
            serial.Initialize($"{serial.portName},{serial.baudRate}");
            serial.initialized = true;
            serial.Connect();
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
        }
    }

}
