@page "/controlpanel"
@inject Data.ControlPanelService control
@inject Data.BackgroundTimer background
@inject Data.PrinterDataServiceTest printer
@inject Data.PortConnectionManagerService portManager
@inject Data.PrintingService print

@using Plotly.Blazor.Interop
@using Plotly.Blazor.LayoutLib
@using Plotly.Blazor.Traces.ScatterLib
@using MachineControlHub.Motion
@using System.Text.RegularExpressions
@implements IDisposable


<ConnectionStatus Connection="background.ConnectionServiceSerial.printerConnection.IsConnected" />
<PrinterState />
<MudGrid Style="width: 100vw;">

    @* Interactive Bed -------------------------------------------------------------- *@
    <MudItem xs="12" md="6" lg="4">
        <MudPaper Elevation="0">
            <PlotlyChart style="height: 60vh; width:100%; min-height: 350px"
                         @bind-Config="config" @bind-Layout="layout" @bind-Data="data" @ref="chart"
                         ClickAction="ClickAction" AfterRender="SubscribeEvents" />
        </MudPaper>
    </MudItem>

    @* Control Panel -------------------------------------------------------------- *@
    <MudItem xs="12" md="6" lg="4" Class="px-3">
        <div Class="py-5">
            <MudContainer MaxWidth="MaxWidth.Small" Class="px-2">
                <MudStack Row="true" AlignItems="AlignItems.Center" Class="mb-2">
                    <MudButton Variant="Variant.Text" Color="Color.Primary" @onclick="() => control.AdjustAxis(MovePositions.XMovePos,true)">X+</MudButton>
                    <MudButton Variant="Variant.Text" Color="Color.Primary" @onclick="() => control.AdjustAxis(MovePositions.YMovePos,true)">Y+</MudButton>
                    <MudButton Variant="Variant.Text" Color="Color.Primary" @onclick="() => control.AdjustAxis(MovePositions.ZMovePos,true)">Z+</MudButton>
                    <MudButton Variant="Variant.Text" Color="Color.Primary" @onclick="() => control.BabySteps(0.02)">Z +0.02</MudButton>
                    <MudNumericField Margin="MudBlazor.Margin.Dense" Immediate="true" @bind-Value="control.feedRate.FeedRateFreeMove" TextUpdateSuppression="false" Label="Set Feedrate" Variant="Variant.Outlined" Min="0" HideSpinButtons="true" />
                </MudStack>

                <MudStack Row="true" AlignItems="AlignItems.Center" Class="mb-2">
                    <MudButton Variant="Variant.Text" Color="Color.Primary" @onclick="() => control.AdjustAxis(MovePositions.XMovePos,false)">X-</MudButton>
                    <MudButton Variant="Variant.Text" Color="Color.Primary" @onclick="() => control.AdjustAxis(MovePositions.YMovePos,false)">Y-</MudButton>
                    <MudButton Variant="Variant.Text" Color="Color.Primary" @onclick="() => control.AdjustAxis(MovePositions.ZMovePos,false)">Z-</MudButton>
                    <MudButton Variant="Variant.Text" Color="Color.Primary" @onclick="() => control.BabySteps(-0.02)">Z -0.02</MudButton>
                    <MudText Typo="Typo.overline"><b>CURRENT FEEDRATE: </b> @(control.feedRate.FeedRateFreeMove)(mm/min)</MudText>
                </MudStack>


                <MudStack Class="mb-2 flex-none" Row="true" AlignItems="AlignItems.Center" Justify="Justify.SpaceBetween">
                    <MudText Align="Align.Center" Typo="Typo.subtitle2">Set A Moving Value:</MudText>
                    <MudChipSet @bind-SelectedChip="selected" Filter="true" Mandatory="true">
                        <MudChip Text="0.1" Color="Color.Success" Value="@((double)0.1)">0.1 mm</MudChip>
                        <MudChip Text="1" Color="Color.Success" Value="@((double)1)">1 mm</MudChip>
                        <MudChip Text="10" Color="Color.Success" Value="@((double)10)">10 mm</MudChip>
                        <MudChip Text="100" Color="Color.Success" Value="@((double)100)">100 mm</MudChip>
                    </MudChipSet>
                    @if (selected != null)
                    {
                        control.valueToMove = double.Parse(@selected.Text);
                    }
                </MudStack>
                <div Style="display: flex; justify-content: center;" Elevation="0">
                    <MudContainer>
                        <MudGrid Spacing="5" Justify="Justify.SpaceBetween">
                            <MudItem xs="4" Class="px-0">
                                <MudButton Style="white-space: nowrap;" FullWidth="true" Variant="Variant.Text" Color="Color.Primary" @onclick="() => control.AdjustAxis(MovePositions.EMovePos,true)">Extrude</MudButton>
                                <MudButton Style="white-space: nowrap;" FullWidth="true" Variant="Variant.Text" Color="Color.Primary" @onclick="() => control.HomeAxisCommand()">HomeAll</MudButton>
                            </MudItem>
                            <MudItem xs="4" Class="px-0">
                                <MudButton Style="white-space: nowrap;" FullWidth="true" Variant="Variant.Text" Color="Color.Primary" @onclick="() => control.AdjustAxis(MovePositions.EMovePos,false)">Retract</MudButton>
                                <MudButton Style="white-space: nowrap;" FullWidth="true" Variant="Variant.Text" Color="Color.Primary" @onclick="() => control.HomeAxisCommand(true,true)">HomeXY</MudButton>
                            </MudItem>
                            <MudItem xs="4" Class="px-0">
                                <MudButton Style="white-space: nowrap;" FullWidth="true" Variant="Variant.Text" Color="Color.Primary" @onclick="control.DisableSteppers">Disable Motors</MudButton>
                                <MudButton Style="white-space: nowrap;" FullWidth="true" Variant="Variant.Text" Color="Color.Primary" @onclick="() => control.HomeAxisCommand(false,false,true)">HomeZ</MudButton>
                            </MudItem>
                        </MudGrid>

                        <MudGrid Spacing="5" Justify="Justify.SpaceBetween">
                            <MudItem xs="12" Class="px-0">
                                <MudButton Style="white-space: nowrap;" FullWidth="true" Variant="Variant.Text" Color="Color.Primary" @onclick="control.ZSteppersAutoAlignment">Align Z</MudButton>
                            </MudItem>
                        </MudGrid>

                        <MudSwitch Label="Turn Fan On/Off" @bind-Value="@control.SwitchValue" @onclick="() => {control.ToggleValue();control.SetFanSpeed(control.fanSpeed);}" Color="Color.Success" Class="mr-n2 mb-6" />
                        <MudSlider Size="Size.Large" @bind-Value="@control.defaultFanSpeed" Min="0" Max="255" @onchange="() => control.SetFanSpeed(control.defaultFanSpeed)">Fan Speed: @control.fanSpeedInPercentage% </MudSlider>
                        <MudSlider Size="Size.Large" @bind-Value="@control.feedRatePercentage" Min="0" Max="500" @onchange="() => control.SetFeedRatePercentage(control.feedRatePercentage)">Print Speed: @control.feedRatePercentage% </MudSlider>
                        <MudSlider Size="Size.Large" @bind-Value="@control.printFlowPercentage" Min="0" Max="500" @onchange="() => control.SetPrintFlowPercentage(control.printFlowPercentage)">Print Flow: @control.printFlowPercentage% </MudSlider>
                        <div>
                            <MudChart ChartType="ChartType.StackedBar" ChartSeries="@Series" @bind-SelectedIndex="Index" XAxisLabels="@XAxisLabels" Width="100%" Height="350px"></MudChart>
                        </div>
                    </MudContainer>
                </div>
            </MudContainer>
        </div>
    </MudItem>


    @* Console Output -------------------------------------------------------------- *@
    <MudItem xs="12" md="12" lg="4">
        <MudPaper Class="d-flex mud-height-full" MaxHeight="600px">
            <textarea id="consoleOutput" style="width:100%; padding:5px; resize: none;" readonly rows="10" cols="50">@control.consoleOutput</textarea>
        </MudPaper>
        <form @onsubmit="() => control.SendGcodeViaTerminal(control.sendCommand)">
            <MudFocusTrap>
                <MudTextField T="string" Label="Send G-Code Commands" Variant="Variant.Outlined" Clearable="true" @bind-Value="control.sendCommand" />
            </MudFocusTrap>
            <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" EndIcon="@Icons.Material.Filled.Send" FullWidth="true">Send</MudButton>
        </form>
    </MudItem>
</MudGrid>


@code {

    private int Index = -1;
    public List<ChartSeries> Series { get; set; }

    public string[] XAxisLabels = { "Fan Speed", "Print Flow", "Print Speed" };
    [CascadingParameter]
    private MudTheme Theme { get; set; }
    MudChip selected;
    private PlotlyChart chart;
    private Config config;
    private Layout layout;
    private IList<ITrace> data;
    private IEnumerable<EventDataPoint> ClickInfos { get; set; }

    protected override void OnInitialized()
    {
        printer.SelectedPrinter = printer.LoadPrinterData<MachineControlHub.Printer>(Data.PrinterDataServiceTest.SELECTED_PRINTER_SETTINGS_PATH);
        int xSize = printer.Printer.Bed?.XSize ?? 0;
        int ySize = printer.Printer.Bed?.XSize ?? 0;

        Series = new List<ChartSeries>
    {
        new ChartSeries() { Name = "Fan Speed", Data = new double[] { control.fanSpeedInPercentage, control.feedRatePercentage , control.printFlowPercentage } },
    };
        config = new Config
            {
                Responsive = true
            };

        layout = new Layout
            {
                Title = new Title
                {
                    Text = "Interactive Bed",
 
                },
                PaperBgColor = "#32333d",
                PlotBgColor = "#6E9075",
                Font = new Font
                {
                    Color = "#FFF" 
                }
            };
        data = new List<ITrace>
            {
            new Scatter
            {
                Name = "ScatterTrace",
                Mode = ModeFlag.None,
                X = Enumerable.Range(0, xSize + 1).SelectMany(_ => Enumerable.Range(0, xSize + 1)).Cast<object>().ToList(),
                Y = Enumerable.Range(0, ySize + 1).SelectMany(y => Enumerable.Repeat(y, ySize + 1)).Cast<object>().ToList()
            }
            };
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await Task.Run(() =>
            {
                if (portManager.connections != null)
                {
                    foreach (var port in portManager.connections.Values)
                    {
                        port.InputReceived += OnUpdate;
                    }
                }
            });
        }
    }

    public void OnUpdate(string message,SerialDataProcessorService source)
    {
        Series = new List<ChartSeries>
    {
        new ChartSeries() { Name = "Fan Speed", Data = new double[] { control.fanSpeedInPercentage, control.feedRatePercentage ,control.printFlowPercentage } },
    };
        Task.Run(() =>
        {
            control.UpdateParagraph(message);
            InvokeAsync(StateHasChanged);
        });
    }


    public void ClickAction(IEnumerable<EventDataPoint> eventData)
    {
        ClickInfos = eventData;
        StoreClickedValues();
        StateHasChanged();
    }

    public async void SubscribeEvents()
    {
        await chart.SubscribeClickEvent();
    }

    private void StoreClickedValues()
    {
        if (ClickInfos != null && ClickInfos.Any())
        {
            string x = ClickInfos.First().X.ToString();
            string y = ClickInfos.FirstOrDefault(d => d.TraceIndex == 0)?.Y.ToString();
            control.positionToMove.XMovePosition = double.Parse(x);
            control.positionToMove.YMovePosition = double.Parse(y);
            background.ConnectionServiceSerial.printerConnection.Write(CommandMethods.BuildAbsolutePositionCommand());
            background.ConnectionServiceSerial.printerConnection.Write(CommandMethods.BuildLinearMoveCommand(control.positionToMove, control.feedRate));
            background.ConnectionServiceSerial.printerConnection.Write(CommandMethods.BuildRelativePositionCommand());
        }
    }

    void IDisposable.Dispose()
    {
        foreach (var port in portManager.connections.Values)
        {
            port.InputReceived -= OnUpdate;
        }
    }
}