@page "/printersettings"
@using MachineControlHub
@using MachineControlHub.Material
@using MachineControlHub.Motion

@inject PrinterDataService PrinterDataService
@inject NavigationManager MyNavigationManager
@inject PrinterManagerService PrinterManagerService
@inject HotendTemperatureService HotendTemperature
@inject BedTemperatureService BedTemperature
@inject ISnackbar Snackbar

<Connection />
<PrinterState />
<PromptAndNotificationsHandler />

<MudPaper Class="my-0 pt-5" Elevation="0" Height="95vh" Width="100vw">
    <div style="display: flex; justify-content:center; padding-top:10px; padding-bottom: 10px; padding-left: 20px;">
        <MudTooltip Text="Refresh if some settings are missing">
            <MudIconButton Icon="@Icons.Material.Filled.Refresh" Variant="Variant.Text" Color="Color.Tertiary" OnClick="() => {PrinterDataService.RequestPrinterSettingsReport(PrinterManagerService.ActivePrinter); PrinterDataService.RequestFirmwareReport(PrinterManagerService.ActivePrinter);}" />
        </MudTooltip>
        <MudText Typo="Typo.h4" Align="Align.Center" Color="Color.Primary"> Printer Settings</MudText>
        <MudTooltip Text="Save Changes to EEPROM">
            <MudIconButton Icon="@Icons.Material.Filled.Save" Variant="Variant.Text" Color="Color.Tertiary" OnClick="() => PrinterDataService.SaveToEEPROM(PrinterManagerService.ActivePrinter)" />
        </MudTooltip>
    </div>
    <MudTabs @bind-ActivePanelIndex="_activeTabIndex">

        <!-- Printer Information -------------------------------------------------------------------------------------------->

        <MudTabPanel Text="Printer Information">
            <MudGrid Style="width: 100vw;">
                <MudItem xs="12" sm="12" md="4" lg="4" Class="mx-0 px-0 mb-0 pb-0">
                    <MudPaper MinHeight="300px" Class="pa-4 px-8" Outlined="true">
                        <ContainerSpaceBetween>
                            <MudText Typo="Typo.subtitle2"> Firmware Version: </MudText>
                            <MudText> @PrinterManagerService.ActivePrinter.PrinterFirmwareVersion</MudText>
                        </ContainerSpaceBetween>
                        <MudDivider Class="my-3" DividerType="DividerType.FullWidth" />

                        <ContainerSpaceBetween>
                            <MudText Typo="Typo.subtitle2"> Machine Model: </MudText>
                            <MudText> @PrinterManagerService.ActivePrinter.Model</MudText>
                        </ContainerSpaceBetween>
                        <MudDivider Class="my-3" DividerType="DividerType.FullWidth" />

                        <ContainerSpaceBetween>
                            <MudText Typo="Typo.subtitle2"> Linear Units: </MudText>
                            <MudText> @PrinterManagerService.ActivePrinter.LinearUnit</MudText>
                        </ContainerSpaceBetween>
                        <MudDivider Class="my-3" DividerType="DividerType.FullWidth" />

                        <ContainerSpaceBetween>
                            <MudText Typo="Typo.subtitle2"> Temperature Units: </MudText>
                            <MudText> @PrinterManagerService.ActivePrinter.TemperatureUnit</MudText>
                        </ContainerSpaceBetween>
                        <MudDivider Class="my-3" DividerType="DividerType.FullWidth" />

                        <ContainerSpaceBetween>
                            <MudText Typo="Typo.subtitle2"> Binary File Transfer: </MudText>
                            <MudText>@PrinterDataService.StringOutput(PrinterManagerService.ActivePrinter.HasBinaryFileTransfer)</MudText>
                        </ContainerSpaceBetween>
                        <MudDivider Class="my-3" DividerType="DividerType.FullWidth" />
                    </MudPaper>
                </MudItem>
                <MudItem xs="12" sm="12" md="4" lg="4" Class="mx-0 px-0 mb-0 pb-0">
                    <MudPaper MinHeight="300px" Class="pa-4 px-8" Outlined="true">
                        <ContainerSpaceBetween>
                            <MudText Typo="Typo.subtitle2"> Extruder Count: </MudText>
                            <MudText> @PrinterManagerService.ActivePrinter.NumberOfExtruders</MudText>
                        </ContainerSpaceBetween>
                        <MudDivider Class="my-3" DividerType="DividerType.FullWidth" />

                        <ContainerSpaceBetween>
                            <MudText Typo="Typo.subtitle2"> Power Loss Recovery: </MudText>
                            <MudText>@PrinterDataService.StringOutput(PrinterManagerService.ActivePrinter.HasPowerLossRecovery)</MudText>
                        </ContainerSpaceBetween>
                        <MudDivider Class="my-3" DividerType="DividerType.FullWidth" />

                        <ContainerSpaceBetween>
                            <MudText Typo="Typo.subtitle2"> EEPROM: </MudText>
                            <MudText>@PrinterDataService.StringOutput(PrinterManagerService.ActivePrinter.HasEEPROM) </MudText>
                        </ContainerSpaceBetween>
                        <MudDivider Class="my-3" DividerType="DividerType.FullWidth" />

                        <ContainerSpaceBetween>
                            <MudText Typo="Typo.subtitle2"> Auto Report Position: </MudText>
                            <MudText>@PrinterDataService.StringOutput(PrinterManagerService.ActivePrinter.HasAutoReportPosition)</MudText>
                        </ContainerSpaceBetween>
                        <MudDivider Class="my-3" DividerType="DividerType.FullWidth" />

                        <ContainerSpaceBetween>
                            <MudText Typo="Typo.subtitle2"> Auto Report Temperatures: </MudText>
                            <MudText>@PrinterDataService.StringOutput(PrinterManagerService.ActivePrinter.HasAutoReportTemperature) </MudText>
                        </ContainerSpaceBetween>
                        <MudDivider Class="my-3" DividerType="DividerType.FullWidth" />
                    </MudPaper>
                </MudItem>
                <MudItem xs="12" sm="12" md="4" lg="4" Class="mx-0 px-0 mb-0 pb-0">
                    <MudPaper MinHeight="300px" Class="pa-4 px-8" Outlined="true">
                        <ContainerSpaceBetween>
                            <MudText Typo="Typo.subtitle2"> Auto Level: </MudText>
                            <MudText> @PrinterDataService.StringOutput(PrinterManagerService.ActivePrinter.HasAutoBedLevel)</MudText>
                        </ContainerSpaceBetween>
                        <MudDivider Class="my-3" DividerType="DividerType.FullWidth" />

                        <ContainerSpaceBetween>
                            <MudText Typo="Typo.subtitle2"> Runout Sensor: </MudText>
                            <MudText> @PrinterDataService.StringOutput(PrinterManagerService.ActivePrinter.HasFilamentRunoutSensor)</MudText>
                        </ContainerSpaceBetween>
                        <MudDivider Class="my-3" DividerType="DividerType.FullWidth" />

                        <ContainerSpaceBetween>
                            <MudText Typo="Typo.subtitle2"> Z-Probe: </MudText>
                            <MudText>@PrinterDataService.StringOutput(PrinterManagerService.ActivePrinter.Head.ProbePresent)</MudText>
                        </ContainerSpaceBetween>
                        <MudDivider Class="my-3" DividerType="DividerType.FullWidth" />

                        <ContainerSpaceBetween>
                            <MudText Typo="Typo.subtitle2"> Software Power Control: </MudText>
                            <MudText>@PrinterDataService.StringOutput(PrinterManagerService.ActivePrinter.HasSoftwarePowerControl)</MudText>
                        </ContainerSpaceBetween>
                        <MudDivider Class="my-3" DividerType="DividerType.FullWidth" />

                        <ContainerSpaceBetween>
                            <MudText Typo="Typo.subtitle2"> Toggle Lights: </MudText>
                            <MudText>@PrinterDataService.StringOutput(PrinterManagerService.ActivePrinter.HasToggleLights)</MudText>
                        </ContainerSpaceBetween>
                        <MudDivider Class="my-3" DividerType="DividerType.FullWidth" />
                    </MudPaper>
                </MudItem>
                <MudItem xs="12" sm="12" md="6" lg="6" Class="mx-0 px-0 ma-0 pa-0">
                    <MudPaper MinHeight="300px" Class="pa-4 px-8" Outlined="true">
                        <ContainerSpaceBetween>
                            <MudText Typo="Typo.subtitle2"> Emergency Parser: </MudText>
                            <MudText>@PrinterDataService.StringOutput(PrinterManagerService.ActivePrinter.HasEmergencyParser)</MudText>
                        </ContainerSpaceBetween>
                        <MudDivider Class="my-3" DividerType="DividerType.FullWidth" />

                        <ContainerSpaceBetween>
                            <MudText Typo="Typo.subtitle2"> Host Action Commands: </MudText>
                            <MudText>@PrinterDataService.StringOutput(PrinterManagerService.ActivePrinter.HasHostActionCommands)</MudText>
                        </ContainerSpaceBetween>
                        <MudDivider Class="my-3" DividerType="DividerType.FullWidth" />

                        <ContainerSpaceBetween>
                            <MudText Typo="Typo.subtitle2"> Prompt Support: </MudText>
                            <MudText>@PrinterDataService.StringOutput(PrinterManagerService.ActivePrinter.HasPromptSupport)</MudText>
                        </ContainerSpaceBetween>
                        <MudDivider Class="my-3" DividerType="DividerType.FullWidth" />

                        <ContainerSpaceBetween>
                            <MudText Typo="Typo.subtitle2"> SD Card: </MudText>
                            <MudText>@PrinterDataService.StringOutput(PrinterManagerService.ActivePrinter.HasSDCardSupport)</MudText>
                        </ContainerSpaceBetween>
                        <MudDivider Class="my-3" DividerType="DividerType.FullWidth" />

                        <ContainerSpaceBetween>
                            <MudText Typo="Typo.subtitle2"> Auto Report SD status: </MudText>
                            <MudText>@PrinterDataService.StringOutput(PrinterManagerService.ActivePrinter.HasAutoReportSDStatus)</MudText>
                        </ContainerSpaceBetween>
                        <MudDivider Class="my-3" DividerType="DividerType.FullWidth" />
                    </MudPaper>
                </MudItem>
                <MudItem xs="12" sm="12" md="6" lg="6" Class="mx-0 px-0 ma-0 pa-0">
                    <MudPaper MinHeight="300px" Class="pa-4 px-8" Outlined="true">
                        <ContainerSpaceBetween>
                            <MudText Typo="Typo.subtitle2"> Long Filename: </MudText>
                            <MudText>@PrinterDataService.StringOutput(PrinterManagerService.ActivePrinter.HasLongFilenameSupport)</MudText>
                        </ContainerSpaceBetween>
                        <MudDivider Class="my-3" DividerType="DividerType.FullWidth" />

                        <ContainerSpaceBetween>
                            <MudText Typo="Typo.subtitle2"> Custom Firmware Upload: </MudText>
                            <MudText>@PrinterDataService.StringOutput(PrinterManagerService.ActivePrinter.HasCustomFirmwareUpload)</MudText>
                        </ContainerSpaceBetween>
                        <MudDivider Class="my-3" DividerType="DividerType.FullWidth" />

                        <ContainerSpaceBetween>
                            <MudText Typo="Typo.subtitle2"> Extended M20: </MudText>
                            <MudText>@PrinterDataService.StringOutput(PrinterManagerService.ActivePrinter.HasExtendedM20)</MudText>
                        </ContainerSpaceBetween>
                        <MudDivider Class="my-3" DividerType="DividerType.FullWidth" />

                        <ContainerSpaceBetween>
                            <MudText Typo="Typo.subtitle2"> Thermal Protection: </MudText>
                            <MudText>@PrinterDataService.StringOutput(PrinterManagerService.ActivePrinter.HasThermalProtection)</MudText>
                        </ContainerSpaceBetween>
                        <MudDivider Class="my-3" DividerType="DividerType.FullWidth" />

                        <ContainerSpaceBetween>
                            <MudText Typo="Typo.subtitle2"> Babystepping: </MudText>
                            <MudText>@PrinterDataService.StringOutput(PrinterManagerService.ActivePrinter.HasBabystep)</MudText>
                        </ContainerSpaceBetween>
                        <MudDivider Class="my-3" DividerType="DividerType.FullWidth" />
                    </MudPaper>
                </MudItem>
            </MudGrid>
        </MudTabPanel>

        <!-- Bed Settings -------------------------------------------------------------------------------------------->

        <MudTabPanel Text="Bed Settings">
            <MudGrid Style="width:100vw;">
                <MudItem Class="mx-0 px-0 mb-0 pb-0" xs="12" md="4">
                    <MudPaper MinHeight="500px" Class="pa-4 px-8" Outlined="true">
                        <MudCardHeader Class="pt-1" Style="display: flex; justify-content: center;">
                            <MudText Color="Color.Primary" Typo="Typo.button">Bed Pid Values</MudText>
                        </MudCardHeader>
                        <ContainerSpaceBetween>
                            <MudText Typo="Typo.subtitle2">Proportional:</MudText>
                            <MudText>@PrinterManagerService.ActivePrinter.BedTemperatures.PIDValues.Proportional</MudText>
                        </ContainerSpaceBetween>
                        <ContainerSpaceBetween>
                            <MudText Typo="Typo.subtitle2">Integral:</MudText>
                            <MudText>@PrinterManagerService.ActivePrinter.BedTemperatures.PIDValues.Integral</MudText>
                        </ContainerSpaceBetween>
                        <ContainerSpaceBetween>
                            <MudText Typo="Typo.subtitle2">Derivative:</MudText>
                            <MudText>@PrinterManagerService.ActivePrinter.BedTemperatures.PIDValues.Derivative</MudText>
                        </ContainerSpaceBetween>
                        <MudDivider Class="mt-3" DividerType="DividerType.FullWidth" />
                        <ExpansionPanel>
                            <MudNumericField Label="P Value" @bind-Value="PrinterManagerService.ActivePrinter.BedTemperatures.PIDValues.Proportional" Immediate="true" Variant="Variant.Outlined" />
                            <MudNumericField Label="I Value" @bind-Value="PrinterManagerService.ActivePrinter.BedTemperatures.PIDValues.Integral" Immediate="true" Variant="Variant.Outlined" />
                            <MudNumericField Label="D Value" @bind-Value="PrinterManagerService.ActivePrinter.BedTemperatures.PIDValues.Derivative" Immediate="true" Variant="Variant.Outlined" />
                            <MudButton Color="Color.Tertiary" FullWidth="true" OnClick="() => PrinterDataService.SetBedPidValues(PrinterManagerService.ActivePrinter)">Update Values</MudButton>
                        </ExpansionPanel>
                    </MudPaper>
                </MudItem>
                <MudItem Class="mx-0 px-0 mb-0 pb-0" xs="12" md="8">
                    <MudPaper MinHeight="500px" Class="pa-4 px-8" Outlined="true">
                        <MudCardHeader Class="pt-1" Style="display: flex; justify-content: center;">
                            <MudText Color="Color.Primary" Typo="Typo.button">Bed PID Autotune</MudText>
                        </MudCardHeader>
                        <MudGrid>
                            <MudItem lg="6" md="12" sm="12" xs="12">
                                <MudNumericField @bind-Value="BedTemperature.PIDBedTemp" Label="Set Temperature" Variant="Variant.Outlined" Min="0" HideSpinButtons="true" />
                            </MudItem>
                            <MudItem lg="6" md="12" sm="12" xs="12">
                                <MudNumericField @bind-Value="BedTemperature.PIDBedCycles" Label="Number Of Cycles" Variant="Variant.Outlined" Min="0" HideSpinButtons="true" />
                            </MudItem>
                            <MudItem xs="12">
                                <MudButton Color="Color.Tertiary" FullWidth="true" @onclick="() => {BedTemperature.SetBedPIDValues(PrinterManagerService.ActivePrinter); SnackbarMessage(_pidAutoTuneMessage); }">Start Bed PID Autotune</MudButton>
                            </MudItem>
                        </MudGrid>
                        <MudText Class="mt-4">
                            Note: This will start bed PID autotune procedure.
                            Check this link for <MudLink Target="_blank" Href="https://marlinfw.org/docs/gcode/M303.html">more info.</MudLink>
                        </MudText>
                    </MudPaper>
                </MudItem>
            </MudGrid>
        </MudTabPanel>

        <!-- Extruder Settings -------------------------------------------------------------------------------------------->

        <MudTabPanel Text="Extruder Settings">
            <MudGrid Class="mb-0 pb-0" Style="width:100vw;">
                <MudItem Class="mx-0 px-0 mb-0 pb-0" xs="12" md="4" lg="3">
                    <MudPaper MinHeight="500px" Class="pa-4 px-8" Outlined="true">
                        <MudCardHeader Class="pt-1" Style="display: flex; justify-content: center;">
                            <MudText Color="Color.Primary" Typo="Typo.button"> Z-Probe Offsets</MudText>
                        </MudCardHeader>
                        <ContainerSpaceBetween>
                            <MudText Typo="Typo.subtitle2">X Offset:</MudText>
                            <MudText>@PrinterManagerService.ActivePrinter.Head.XProbeOffset</MudText>
                        </ContainerSpaceBetween>
                        <ContainerSpaceBetween>
                            <MudText Typo="Typo.subtitle2">Y Offset:</MudText>
                            <MudText>@PrinterManagerService.ActivePrinter.Head.YProbeOffset</MudText>
                        </ContainerSpaceBetween>
                        <ContainerSpaceBetween>
                            <MudText Typo="Typo.subtitle2">Z Offset:</MudText>
                            <MudText>@PrinterManagerService.ActivePrinter.Head.ZProbeOffset</MudText>
                        </ContainerSpaceBetween>
                        <MudDivider Class="mt-3" DividerType="DividerType.FullWidth" />

                        <MudExpansionPanel Style="@($"color:{_mudTheme.Palette.Tertiary}; font-weight: bold; text-align: center;")" HideIcon="true" Text="CHANGE VALUES">
                            <MudNumericField Label="X Offset" @bind-Value="PrinterManagerService.ActivePrinter.Head.XProbeOffset" Immediate="true" Variant="Variant.Outlined" />
                            <MudNumericField Label="Y Offset" @bind-Value="PrinterManagerService.ActivePrinter.Head.YProbeOffset" Immediate="true" Variant="Variant.Outlined" />
                            <MudNumericField Label="Z Offset" @bind-Value="PrinterManagerService.ActivePrinter.Head.ZProbeOffset" Immediate="true" Variant="Variant.Outlined" />
                            <MudButton Color="Color.Tertiary" FullWidth="true">Update Values</MudButton>
                        </MudExpansionPanel>
                    </MudPaper>
                </MudItem>
                <MudItem Class="mx-0 px-0 mb-0 pb-0" xs="12" md="4" lg="3">
                    <MudPaper Class="pa-4 px-6" MinHeight="500px" Outlined="true">
                        <MudCardHeader Class="pt-1" Style="display: flex; justify-content: center;">
                            <MudText Color="Color.Primary" Typo="Typo.button"> Extruder PID values</MudText>
                        </MudCardHeader>
                        <ContainerSpaceBetween>
                            <MudText Typo="Typo.subtitle2">Proportional:</MudText>
                            <MudText>@PrinterManagerService.ActivePrinter.HotendTemperatures.PIDValues.Proportional</MudText>
                        </ContainerSpaceBetween>
                        <ContainerSpaceBetween>
                            <MudText Typo="Typo.subtitle2">Integral:</MudText>
                            <MudText>@PrinterManagerService.ActivePrinter.HotendTemperatures.PIDValues.Integral</MudText>
                        </ContainerSpaceBetween>
                        <ContainerSpaceBetween>
                            <MudText Typo="Typo.subtitle2">Derivative:</MudText>
                            <MudText>@PrinterManagerService.ActivePrinter.HotendTemperatures.PIDValues.Derivative</MudText>
                        </ContainerSpaceBetween>
                        <MudDivider Class="mt-3" DividerType="DividerType.FullWidth" />
                        <MudExpansionPanel Style="@($"color:{_mudTheme.Palette.Tertiary}; font-weight: bold; text-align: center;")" HideIcon="true" Text="CHANGE VALUES">
                            <MudNumericField Label="P Value" @bind-Value="PrinterManagerService.ActivePrinter.HotendTemperatures.PIDValues.Proportional" Immediate="true" Variant="Variant.Outlined" />
                            <MudNumericField Label="I Value" @bind-Value="PrinterManagerService.ActivePrinter.HotendTemperatures.PIDValues.Integral" Immediate="true" Variant="Variant.Outlined" />
                            <MudNumericField Label="D Value" @bind-Value="PrinterManagerService.ActivePrinter.HotendTemperatures.PIDValues.Derivative" Immediate="true" Variant="Variant.Outlined" />
                            <MudButton Color="Color.Tertiary" FullWidth="true" OnClick="() => PrinterDataService.SetHotendPidValues(PrinterManagerService.ActivePrinter)">Update Values</MudButton>
                        </MudExpansionPanel>
                    </MudPaper>
                </MudItem>
                <MudItem xs="12" md="4" lg="6" Class="mx-0 px-0 mb-0 pb-0">
                    <MudPaper Class="pa-4 px-8" MinHeight="500px" Outlined="true">
                        <MudCardHeader Class="pt-1" Style="display: flex; justify-content: center;">
                            <MudText Color="Color.Primary" Typo="Typo.button">Hotend PID Autotune</MudText>
                        </MudCardHeader>
                        <MudGrid>
                            <MudItem lg="6" md="12" sm="12" xs="12">
                                <MudNumericField @bind-Value="HotendTemperature.PIDHotendTemp" Label="Set Temperature" Variant="Variant.Outlined" Min="0" HideSpinButtons="true" />
                            </MudItem>
                            <MudItem lg="6" md="12" sm="12" xs="12">
                                <MudNumericField @bind-Value="HotendTemperature.PIDHotendCycles" Label="Number Of Cycles" Variant="Variant.Outlined" Min="0" HideSpinButtons="true" />
                            </MudItem>
                            <MudItem xs="12">
                                <MudButton Color="Color.Tertiary" FullWidth="true" @onclick="() => {HotendTemperature.SetHotendPIDValues(PrinterManagerService.ActivePrinter); SnackbarMessage(_pidAutoTuneMessage);}">Start Hotend PID Autotune</MudButton>
                            </MudItem>
                        </MudGrid>
                        <MudText Class="mt-4">
                            Note: This will start hotend PID autotune procedure.
                            Check this link for <MudLink Target="_blank" Href="https://marlinfw.org/docs/gcode/M303.html">more info.</MudLink>
                        </MudText>
                    </MudPaper>
                </MudItem>
            </MudGrid>
        </MudTabPanel>

        <!-- Motion Settings -------------------------------------------------------------------------------------------->

        <MudTabPanel Text="Motion Settings">
            <MudGrid Style="width:100vw;">
                <MudItem xs="12" sm="6" md="4" lg="4" xl="2" Class="mx-0 px-0 mb-0 pb-0">
                    <MudPaper MinHeight="@MinHeight" Class="pa-4 px-8" Outlined="true">
                        <div style="min-height:140px">
                            <MudCardHeader Class="pt-1" Style="display: flex; justify-content: center;">
                                <MudText Color="Color.Primary" Typo="Typo.button"> Steps Per Unit</MudText>
                            </MudCardHeader>
                            <ContainerSpaceBetween>
                                <MudText Typo="Typo.subtitle2">X Steps:</MudText>
                                <MudText>@PrinterManagerService.ActivePrinter.MotionSettings.XStepsPerUnit</MudText>
                            </ContainerSpaceBetween>
                            <ContainerSpaceBetween>
                                <MudText Typo="Typo.subtitle2">Y Steps:</MudText>
                                <MudText>@PrinterManagerService.ActivePrinter.MotionSettings.YStepsPerUnit</MudText>
                            </ContainerSpaceBetween>
                            <ContainerSpaceBetween>
                                <MudText Typo="Typo.subtitle2">Z Steps:</MudText>
                                <MudText>@PrinterManagerService.ActivePrinter.MotionSettings.ZStepsPerUnit</MudText>
                            </ContainerSpaceBetween>
                            <ContainerSpaceBetween>
                                <MudText Typo="Typo.subtitle2">E Steps:</MudText>
                                <MudText>@PrinterManagerService.ActivePrinter.MotionSettings.EStepsPerUnit</MudText>
                            </ContainerSpaceBetween>
                        </div>
                        <MudDivider Class="mt-3" DividerType="DividerType.FullWidth" />
                        <ExpansionPanel>
                            <MudNumericField Label="X Steps" @bind-Value="PrinterManagerService.ActivePrinter.MotionSettings.XStepsPerUnit" Immediate="true" Variant="Variant.Outlined" />
                            <MudNumericField Label="Y Steps" @bind-Value="PrinterManagerService.ActivePrinter.MotionSettings.YStepsPerUnit" Immediate="true" Variant="Variant.Outlined" />
                            <MudNumericField Label="Z Steps" @bind-Value="PrinterManagerService.ActivePrinter.MotionSettings.ZStepsPerUnit" Immediate="true" Variant="Variant.Outlined" />
                            <MudNumericField Label="E Steps" @bind-Value="PrinterManagerService.ActivePrinter.MotionSettings.EStepsPerUnit" Immediate="true" Variant="Variant.Outlined" />
                            <MudButton Color="Color.Tertiary" FullWidth="true" OnClick="() => PrinterDataService.SetStepsPerUnit(PrinterManagerService.ActivePrinter)"> Update Values</MudButton>
                            <MudText Class="pt-4">
                                <MudText Style="display:inline;" Color="Color.Secondary">Note:</MudText>
                                <MudLink Color="Color.Tertiary" Target="_blank" Href="https://marlinfw.org/docs/gcode/M092.html">Check Marlin website for more info</MudLink>
                            </MudText>
                        </ExpansionPanel>
                    </MudPaper>
                </MudItem>
                <MudItem xs="12" sm="6" md="4" lg="4" xl="2" Class="mx-0 px-0 mb-0 pb-0">
                    <MudPaper MinHeight="@MinHeight" Class="pa-4 px-8" Outlined="true">
                        <div style="min-height:140px">
                            <MudCardHeader Class="pt-1" Style="display: flex; justify-content: center;">
                                <MudText Color="Color.Primary" Typo="Typo.button"> Maximum Feedrates</MudText>
                            </MudCardHeader>
                            <ContainerSpaceBetween>
                                <MudText Typo="Typo.subtitle2">X Max Feedrate:</MudText>
                                <MudText>@PrinterManagerService.ActivePrinter.MotionSettings.XMaxFeedrate</MudText>
                            </ContainerSpaceBetween>
                            <ContainerSpaceBetween>
                                <MudText Typo="Typo.subtitle2">Y Max Feedrate:</MudText>
                                <MudText>@PrinterManagerService.ActivePrinter.MotionSettings.YMaxFeedrate</MudText>
                            </ContainerSpaceBetween>
                            <ContainerSpaceBetween>
                                <MudText Typo="Typo.subtitle2">Z Max Feedrate:</MudText>
                                <MudText>@PrinterManagerService.ActivePrinter.MotionSettings.ZMaxFeedrate</MudText>
                            </ContainerSpaceBetween>
                            <ContainerSpaceBetween>
                                <MudText Typo="Typo.subtitle2">E Max Feedrate:</MudText>
                                <MudText>@PrinterManagerService.ActivePrinter.MotionSettings.EMaxFeedrate</MudText>
                            </ContainerSpaceBetween>
                        </div>
                        <MudDivider Class="mt-3" DividerType="DividerType.FullWidth" />
                        <ExpansionPanel>
                            <MudNumericField Label="X Feedrate" @bind-Value="PrinterManagerService.ActivePrinter.MotionSettings.XMaxFeedrate" Immediate="true" Variant="Variant.Outlined" />
                            <MudNumericField Label="Y Feedrate" @bind-Value="PrinterManagerService.ActivePrinter.MotionSettings.YMaxFeedrate" Immediate="true" Variant="Variant.Outlined" />
                            <MudNumericField Label="Z Feedrate" @bind-Value="PrinterManagerService.ActivePrinter.MotionSettings.ZMaxFeedrate" Immediate="true" Variant="Variant.Outlined" />
                            <MudNumericField Label="E Feedrate" @bind-Value="PrinterManagerService.ActivePrinter.MotionSettings.EMaxFeedrate" Immediate="true" Variant="Variant.Outlined" />
                            <MudButton Color="Color.Tertiary" FullWidth="true" OnClick="() => PrinterDataService.SetMaximumFeedrates(PrinterManagerService.ActivePrinter)">Update Values</MudButton>
                            <MudText Class="pt-4">
                                <MudText Style="display:inline;" Color="Color.Secondary">Note:</MudText>
                                <MudLink Color="Color.Tertiary" Target="_blank" Href="https://marlinfw.org/docs/gcode/M203.html">Check Marlin website for more info</MudLink>
                            </MudText>
                        </ExpansionPanel>
                    </MudPaper>
                </MudItem>
                <MudItem xs="12" sm="6" md="4" lg="4" xl="2" Class="mx-0 px-0 mb-0 pb-0">
                    <MudPaper MinHeight="@MinHeight" Class="pa-4 px-8" Outlined="true">
                        <div style="min-height:140px">
                            <MudCardHeader Class="pt-1" Style="display: flex; justify-content: center;">
                                <MudText Color="Color.Primary" Typo="Typo.button">Accelerations</MudText>
                            </MudCardHeader>
                            <ContainerSpaceBetween>
                                <MudText Typo="Typo.subtitle2">Print Acceleration:</MudText>
                                <MudText>@PrinterManagerService.ActivePrinter.MotionSettings.PrintAcceleration</MudText>
                            </ContainerSpaceBetween>
                            <ContainerSpaceBetween>
                                <MudText Typo="Typo.subtitle2">Travel Acceleration:</MudText>
                                <MudText>@PrinterManagerService.ActivePrinter.MotionSettings.TravelAcceleration</MudText>
                            </ContainerSpaceBetween>
                            <ContainerSpaceBetween>
                                <MudText Typo="Typo.subtitle2">Retract Acceleration:</MudText>
                                <MudText>@PrinterManagerService.ActivePrinter.MotionSettings.RetractAcceleration</MudText>
                            </ContainerSpaceBetween>
                        </div>
                        <MudDivider Class="mt-3" DividerType="DividerType.FullWidth" />
                        <ExpansionPanel>
                            <MudNumericField Label="Print Acceleration" @bind-Value="PrinterManagerService.ActivePrinter.MotionSettings.PrintAcceleration" Immediate="true" Variant="Variant.Outlined" />
                            <MudNumericField Label="Retract Acceleration" @bind-Value="PrinterManagerService.ActivePrinter.MotionSettings.RetractAcceleration" Immediate="true" Variant="Variant.Outlined" />
                            <MudNumericField Label="Travel Acceleration" @bind-Value="PrinterManagerService.ActivePrinter.MotionSettings.TravelAcceleration" Immediate="true" Variant="Variant.Outlined" />
                            <MudButton Color="Color.Tertiary" FullWidth="true" OnClick="() => PrinterDataService.SetStartingAccelerations(PrinterManagerService.ActivePrinter)">Update Values</MudButton>
                            <MudText Class="pt-4">
                                <MudText Style="display:inline;" Color="Color.Secondary">Note:</MudText>
                                <MudLink Color="Color.Tertiary" Target="_blank" Href="https://marlinfw.org/docs/gcode/M204.html">Check Marlin website for more info</MudLink>
                            </MudText>
                        </ExpansionPanel>
                    </MudPaper>
                </MudItem>
                <MudItem xs="12" sm="6" md="4" lg="4" xl="2" Class="mx-0 px-0 mb-0 pb-0">
                    <MudPaper MinHeight="@MinHeight" Class="pa-4 px-8" Outlined="true">
                        <div style="min-height:140px">
                            <MudCardHeader Class="pt-1" Style="display: flex; justify-content: center;">
                                <MudText Color="Color.Primary" Typo="Typo.button">Maximum Accelerations</MudText>
                            </MudCardHeader>
                            <ContainerSpaceBetween>
                                <MudText Typo="Typo.subtitle2">X Max Acceleration:</MudText>
                                <MudText>@PrinterManagerService.ActivePrinter.MotionSettings.XMaxAcceleration</MudText>
                            </ContainerSpaceBetween>
                            <ContainerSpaceBetween>
                                <MudText Typo="Typo.subtitle2">Y Max Acceleration:</MudText>
                                <MudText>@PrinterManagerService.ActivePrinter.MotionSettings.YMaxAcceleration</MudText>
                            </ContainerSpaceBetween>
                            <ContainerSpaceBetween>
                                <MudText Typo="Typo.subtitle2">Z Max Acceleration:</MudText>
                                <MudText>@PrinterManagerService.ActivePrinter.MotionSettings.ZMaxAcceleration</MudText>
                            </ContainerSpaceBetween>
                            <ContainerSpaceBetween>
                                <MudText Typo="Typo.subtitle2">E Max Acceleration:</MudText>
                                <MudText>@PrinterManagerService.ActivePrinter.MotionSettings.EMaxAcceleration</MudText>
                            </ContainerSpaceBetween>
                        </div>
                        <MudDivider Class="mt-3" DividerType="DividerType.FullWidth" />
                        <ExpansionPanel>
                            <MudNumericField Label="X Max Acceleration" @bind-Value="PrinterManagerService.ActivePrinter.MotionSettings.XMaxAcceleration" Immediate="true" Variant="Variant.Outlined" />
                            <MudNumericField Label="Y Max Acceleration" @bind-Value="PrinterManagerService.ActivePrinter.MotionSettings.YMaxAcceleration" Immediate="true" Variant="Variant.Outlined" />
                            <MudNumericField Label="Z Max Acceleration" @bind-Value="PrinterManagerService.ActivePrinter.MotionSettings.ZMaxAcceleration" Immediate="true" Variant="Variant.Outlined" />
                            <MudNumericField Label="E Max Acceleration" @bind-Value="PrinterManagerService.ActivePrinter.MotionSettings.EMaxAcceleration" Immediate="true" Variant="Variant.Outlined" />
                            <MudNumericField Label="Planner Frequency Limit(Hz)" @bind-Value="PrinterManagerService.ActivePrinter.MotionSettings.PlannerFrequencyLimit" Immediate="true" Variant="Variant.Outlined" />
                            <MudNumericField Label="XY Frequency Min Percentage" @bind-Value="PrinterManagerService.ActivePrinter.MotionSettings.PlannerXYFrequencyMinimumSpeedPercentage" Immediate="true" Variant="Variant.Outlined" />
                            <MudNumericField Label="Target Extruder" @bind-Value="PrinterManagerService.ActivePrinter.MotionSettings.TargetExtruder" Immediate="true" Variant="Variant.Outlined" />
                            <MudButton Color="Color.Tertiary" FullWidth="true" OnClick="() => PrinterDataService.SetMaximumAccelerations(PrinterManagerService.ActivePrinter)">Update Values</MudButton>
                            <MudText Class="pt-4">
                                <MudText Style="display:inline;" Color="Color.Secondary">Note:</MudText>
                                <MudLink Color="Color.Tertiary" Target="_blank" Href="https://marlinfw.org/docs/gcode/M201.html">Check Marlin website for more info</MudLink>
                            </MudText>
                        </ExpansionPanel>
                    </MudPaper>
                </MudItem>
                <MudItem xs="12" sm="6" md="4" lg="4" xl="2" Class="mx-0 px-0 mb-0 pb-0">
                    <MudPaper MinHeight="@MinHeight" Class="pa-4 px-8" Outlined="true">
                        <div style="min-height:140px">
                            <MudCardHeader Class="pt-1" Style="display: flex; justify-content: center;">
                                <MudText Color="Color.Primary" Typo="Typo.button">Advanced Accelerations</MudText>
                            </MudCardHeader>
                            <ContainerSpaceBetween>
                                <MudText Typo="Typo.subtitle2">Junction Deviation:</MudText>
                                <MudText>@PrinterManagerService.ActivePrinter.MotionSettings.JunctionDeviation</MudText>
                            </ContainerSpaceBetween>
                            <ContainerSpaceBetween>
                                <MudText Typo="Typo.subtitle2">Min Segment Time:</MudText>
                                <MudText>@PrinterManagerService.ActivePrinter.MotionSettings.MinSegmentTime</MudText>
                            </ContainerSpaceBetween>
                            <ContainerSpaceBetween>
                                <MudText Typo="Typo.subtitle2">Min Print Feedrate:</MudText>
                                <MudText>@PrinterManagerService.ActivePrinter.MotionSettings.MinPrintFeedrate</MudText>
                            </ContainerSpaceBetween>
                            <ContainerSpaceBetween>
                                <MudText Typo="Typo.subtitle2">Min Travel Feedrate:</MudText>
                                <MudText>@PrinterManagerService.ActivePrinter.MotionSettings.MinTravelFeedrate</MudText>
                            </ContainerSpaceBetween>
                        </div>
                        <MudDivider Class="mt-3" DividerType="DividerType.FullWidth" />
                        <ExpansionPanel>
                            <MudNumericField Label="Min Segment Time" @bind-Value="PrinterManagerService.ActivePrinter.MotionSettings.MinSegmentTime" Immediate="true" Variant="Variant.Outlined" />
                            <MudNumericField Label="Min Print Feedrate" @bind-Value="PrinterManagerService.ActivePrinter.MotionSettings.MinPrintFeedrate" Immediate="true" Variant="Variant.Outlined" />
                            <MudNumericField Label="Min Travel Feedrate" @bind-Value="PrinterManagerService.ActivePrinter.MotionSettings.MinTravelFeedrate" Immediate="true" Variant="Variant.Outlined" />
                            <MudNumericField Label="Junction Deviation" @bind-Value="PrinterManagerService.ActivePrinter.MotionSettings.JunctionDeviation" Immediate="true" Variant="Variant.Outlined" />
                            <MudNumericField Label="X Max Jerk" @bind-Value="PrinterManagerService.ActivePrinter.MotionSettings.XMaxJerk" Immediate="true" Variant="Variant.Outlined" />
                            <MudNumericField Label="Y Max Jerk" @bind-Value="PrinterManagerService.ActivePrinter.MotionSettings.YMaxJerk" Immediate="true" Variant="Variant.Outlined" />
                            <MudNumericField Label="Z Max Jerk" @bind-Value="PrinterManagerService.ActivePrinter.MotionSettings.ZMaxJerk" Immediate="true" Variant="Variant.Outlined" />
                            <MudNumericField Label="E Max Jerk" @bind-Value="PrinterManagerService.ActivePrinter.MotionSettings.EMaxJerk" Immediate="true" Variant="Variant.Outlined" />
                            <MudButton Color="Color.Tertiary" FullWidth="true" OnClick="() => PrinterDataService.SetAdvancedSettings(PrinterManagerService.ActivePrinter)">Update Values</MudButton>
                            <MudText Class="pt-4">
                                <MudText Style="display:inline;" Color="Color.Secondary">Note:</MudText>
                                <MudLink Color="Color.Tertiary" Target="_blank" Href="https://marlinfw.org/docs/gcode/M205.html">Check Marlin website for more info</MudLink>
                            </MudText>
                        </ExpansionPanel>
                    </MudPaper>
                </MudItem>
                <MudItem xs="12" sm="6" md="4" lg="4" xl="2" Class="mx-0 px-0 mb-0 pb-0">
                    <MudPaper MinHeight="@MinHeight" Class="pa-4 px-8" Outlined="true">
                        <div style="min-height:140px">
                            <MudCardHeader Class="pt-1" Style="display: flex; justify-content: center;">
                                <MudText Color="Color.Primary" Typo="Typo.button">Offset Settings</MudText>
                            </MudCardHeader>
                            <ContainerSpaceBetween>
                                <MudText Typo="Typo.subtitle2">X Offset:</MudText>
                                <MudText>@PrinterManagerService.ActivePrinter.MotionSettings.XHomeOffset</MudText>
                            </ContainerSpaceBetween>
                            <ContainerSpaceBetween>
                                <MudText Typo="Typo.subtitle2">Y Offset:</MudText>
                                <MudText>@PrinterManagerService.ActivePrinter.MotionSettings.YHomeOffset</MudText>
                            </ContainerSpaceBetween>
                            <ContainerSpaceBetween>
                                <MudText Typo="Typo.subtitle2">Z Offset:</MudText>
                                <MudText>@PrinterManagerService.ActivePrinter.MotionSettings.ZHomeOffset</MudText>
                            </ContainerSpaceBetween>
                        </div>
                        <MudDivider Class="mt-3" DividerType="DividerType.FullWidth" />

                        <ExpansionPanel>
                            <MudNumericField Label="X Offset" @bind-Value="PrinterManagerService.ActivePrinter.MotionSettings.XHomeOffset" Immediate="true" Variant="Variant.Outlined" />
                            <MudNumericField Label="Y Offset" @bind-Value="PrinterManagerService.ActivePrinter.MotionSettings.YHomeOffset" Immediate="true" Variant="Variant.Outlined" />
                            <MudNumericField Label="Z Offset" @bind-Value="PrinterManagerService.ActivePrinter.MotionSettings.ZHomeOffset" Immediate="true" Variant="Variant.Outlined" />
                            <MudButton Color="Color.Tertiary" FullWidth="true" OnClick="() => PrinterDataService.SetOffsetSettings(PrinterManagerService.ActivePrinter)">Update Values</MudButton>
                            <MudText Class="pt-4">
                                <MudText Style="display:inline;" Color="Color.Secondary">Note:</MudText>
                                <MudLink Color="Color.Tertiary" Target="_blank" Href="https://marlinfw.org/docs/gcode/M206.html">Check Marlin website for more info</MudLink>
                            </MudText>
                        </ExpansionPanel>
                    </MudPaper>
                </MudItem>
            </MudGrid>
        </MudTabPanel>

        <!-- Bed Leveling -------------------------------------------------------------------------------------------->

        <MudTabPanel Text="Bed Leveling">
            <MudGrid Style="width: 100vw;">
                <MudItem lg="12">
                    <MudPaper MinHeight="550px" Class="pa-4 px-8" Outlined="true" Style="width: 100vw;">
                        <MudCardHeader Class="pt-1" Style="display: flex; justify-content: center;">
                            <MudText Color="Color.Primary" Typo="Typo.button">Bed Leveling State</MudText>
                        </MudCardHeader>
                        <ContainerSpaceBetween>
                            <MudText Typo="Typo.subtitle2">Auto Bed Level</MudText>
                            <MudText> @(PrinterManagerService.ActivePrinter.AutoBedLevelingEnabled ? "Enabled" : "Not Enabled") </MudText>
                        </ContainerSpaceBetween>
                        <ContainerSpaceBetween>
                            <MudText Typo="Typo.subtitle2">Fade Height</MudText>
                            <MudText> @PrinterManagerService.ActivePrinter.MotionSettings.FadeHeight mm</MudText>
                        </ContainerSpaceBetween>
                        <MudDivider Class="mt-3" DividerType="DividerType.FullWidth" />
                        <ExpansionPanel>
                            <MudSwitch Color="Color.Tertiary" @bind-Value="PrinterManagerService.ActivePrinter.AutoBedLevelingEnabled" Label="Enable Auto Bed Level" @onclick="() => PrinterDataService.SetBedLevelingOn(PrinterManagerService.ActivePrinter)" />
                            <MudNumericField Label="Fade Height" @bind-Value="PrinterManagerService.ActivePrinter.MotionSettings.FadeHeight" Immediate="true" Variant="Variant.Outlined" />
                            <MudButton Color="Color.Tertiary" OnClick="() => PrinterDataService.SetFadeHeight(PrinterManagerService.ActivePrinter)" FullWidth="true">Update Values</MudButton>
                        </ExpansionPanel>

                    </MudPaper>
                </MudItem>
            </MudGrid>
        </MudTabPanel>

        <!-- Preheating Profiles ------------------------------------------------------------------------------------->

        <MudTabPanel Text="Preheating Profiles">
            <MudGrid Style="width: 100vw;">
                <MudItem xs="12" md="6" lg="6" Class="mx-0 px-0 mb-0 pb-0" Style="width: 100vw;">
                    <MudPaper MinHeight="400px" Class="pa-4 px-10" Outlined="true">
                        <MudTextField Class="px-4" Label="Material" Immediate="true"
                                      @bind-Value="PrinterManagerService.ActivePrinter.PreheatingProfiles.MaterialName" />
                        <MudNumericField Label="Hotend Temperature" Class="px-4 mt-4" Immediate="true"
                                         @bind-Value="PrinterManagerService.ActivePrinter.PreheatingProfiles.HotendTemp" />
                        <MudNumericField Label="Bed Temperature" Class="px-4 mt-4" Immediate="true"
                                         @bind-Value="PrinterManagerService.ActivePrinter.PreheatingProfiles.BedTemp" />
                        <MudNumericField Label="Fan Speed" Class="px-4 mt-4" Immediate="true"
                                         @bind-Value="PrinterManagerService.ActivePrinter.PreheatingProfiles.FanSpeedInPercent" />
                        <MudNumericField Label="Material Index" Class="px-4 mt-4" Immediate="true"
                                         @bind-Value="PrinterManagerService.ActivePrinter.PreheatingProfiles.MaterialIndex" />
                    </MudPaper>
                </MudItem>
                <MudItem xs="12" md="6" lg="6" Class="mx-0 px-0 mb-0 pb-0">
                    <MudPaper MinHeight="400px" Class="pa-4 px-10" Outlined="true">
                        <MudCardHeader Class="pt-1" Style="display: flex; justify-content: center;">
                            <MudText Color="Color.Primary" Typo="Typo.button">Summary</MudText>
                        </MudCardHeader>
                        <MudDivider Class="mt-1 pb-3" DividerType="DividerType.FullWidth" />
                        <MudContainer Class="pb-3" Style="display: flex; justify-content:space-between;">
                            <MudText Typo="Typo.subtitle2">Material:</MudText>
                            @if (PrinterManagerService.ActivePrinter.PreheatingProfiles.MaterialName == null || PrinterManagerService.ActivePrinter.PreheatingProfiles.MaterialName == String.Empty)
                            {
                                <MudText>N/A</MudText>
                            }
                            else
                            {
                                <MudText>@PrinterManagerService.ActivePrinter.PreheatingProfiles.MaterialName</MudText>
                            }
                        </MudContainer>
                        <MudContainer Class="pb-3" Style="display: flex; justify-content:space-between;">
                            <MudText Typo="Typo.subtitle2">Hotend Temperature:</MudText>
                            <MudText>@PrinterManagerService.ActivePrinter.PreheatingProfiles.HotendTemp °C</MudText>
                        </MudContainer>
                        <MudContainer Class="pb-3" Style="display: flex; justify-content:space-between;">
                            <MudText Typo="Typo.subtitle2">Bed Temperature:</MudText>
                            <MudText>@PrinterManagerService.ActivePrinter.PreheatingProfiles.BedTemp °C</MudText>
                        </MudContainer>
                        <MudContainer Class="pb-3" Style="display: flex; justify-content:space-between;">
                            <MudText Typo="Typo.subtitle2">Fan Speed:</MudText>
                            <MudText>@PrinterManagerService.ActivePrinter.PreheatingProfiles.FanSpeedInPercent %</MudText>
                        </MudContainer>
                        <MudContainer Class="mb-5 pb-5" Style="display: flex; justify-content:space-between;">
                            <MudText Typo="Typo.subtitle2">Material Index:</MudText>
                            <MudText>@PrinterManagerService.ActivePrinter.PreheatingProfiles.MaterialIndex</MudText>
                        </MudContainer>
                        <MudContainer Class="pb-3" Style="display: flex; justify-content:center;">
                            <MudButton Type="submit"
                                       OnClick="() =>
                                    {
                                        PrinterManagerService.ActivePrinter.PreheatingProfiles.CalculatePercentageIntoFanSpeed(PrinterManagerService.ActivePrinter.PreheatingProfiles.FanSpeedInPercent);
                                        PrinterDataService.CreatePreheatProfile(PrinterManagerService.ActivePrinter);
                                    }"
                                       Color="Color.Tertiary">
                                Save Preset
                            </MudButton>

                            <MudButton OnClick="() =>
                            {
                                PrinterManagerService.ActivePrinter.PreheatingProfiles.CalculatePercentageIntoFanSpeed(PrinterManagerService.ActivePrinter.PreheatingProfiles.FanSpeedInPercent);
                                PrinterDataService.SetPreheatingProfiles(PrinterManagerService.ActivePrinter);
                            }"
                                       Color="Color.Tertiary">
                                Send Preset To Printer
                            </MudButton>
                        </MudContainer>
                    </MudPaper>
                </MudItem>
            </MudGrid>
        </MudTabPanel>

        <!-- Steppers Settings ------------------------------------------------------------------------------------->

        <MudTabPanel Text="Stepper Motor Settings">
            <MudGrid Style="width:100vw;">
                <MudItem xs="12" md="6" lg="4" Class="mx-0 px-0 mb-0 pb-0">
                    <MudPaper MinHeight="@MinHeight" Class="pa-4 px-8" Outlined="true">
                        <div style="min-height:250px">
                            <MudCardHeader Class="pt-1" Style="display: flex; justify-content: center;">
                                <MudText Color="Color.Primary" Typo="Typo.button">Stepper Driver Current</MudText>
                            </MudCardHeader>
                            <ContainerSpaceBetween>
                                <MudText Typo="Typo.subtitle2">X Stepper Current:</MudText>
                                <MudText>@PrinterManagerService.ActivePrinter.StepperDrivers.XDriverCurrent</MudText>
                            </ContainerSpaceBetween>
                            <ContainerSpaceBetween>
                                <MudText Typo="Typo.subtitle2">Y Stepper Current:</MudText>
                                <MudText>@PrinterManagerService.ActivePrinter.StepperDrivers.YDriverCurrent</MudText>
                            </ContainerSpaceBetween>
                            <ContainerSpaceBetween>
                                <MudText Typo="Typo.subtitle2">Z Stepper Current:</MudText>
                                <MudText>@PrinterManagerService.ActivePrinter.StepperDrivers.ZDriverCurrent</MudText>
                            </ContainerSpaceBetween>
                            <ContainerSpaceBetween>
                                <MudText Typo="Typo.subtitle2">Z1 Stepper Current:</MudText>
                                <MudText>@PrinterManagerService.ActivePrinter.StepperDrivers.Z2DriverCurrent</MudText>
                            </ContainerSpaceBetween>
                            <ContainerSpaceBetween>
                                <MudText Typo="Typo.subtitle2">E Stepper Current:</MudText>
                                <MudText>@PrinterManagerService.ActivePrinter.StepperDrivers.EDriverCurrent</MudText>
                            </ContainerSpaceBetween>
                        </div>

                        <MudDivider Class="mt-3" DividerType="DividerType.FullWidth" />
                        <ExpansionPanel>
                            <MudNumericField Disabled="@(PrinterManagerService.ActivePrinter.StepperDrivers.XDriverCurrent == null)" Label="X Driver Current" @bind-Value="PrinterManagerService.ActivePrinter.StepperDrivers.XDriverCurrent" Immediate="true" Variant="Variant.Outlined" />
                            <MudNumericField Disabled="@(PrinterManagerService.ActivePrinter.StepperDrivers.YDriverCurrent == null)" Label="Y Driver Current" @bind-Value="PrinterManagerService.ActivePrinter.StepperDrivers.YDriverCurrent" Immediate="true" Variant="Variant.Outlined" />
                            <MudNumericField Disabled="@(PrinterManagerService.ActivePrinter.StepperDrivers.ZDriverCurrent == null)" Label="Z Driver Current" @bind-Value="PrinterManagerService.ActivePrinter.StepperDrivers.ZDriverCurrent" Immediate="true" Variant="Variant.Outlined" />
                            <MudNumericField Disabled="@(PrinterManagerService.ActivePrinter.StepperDrivers.Z2DriverCurrent == null)" Label="Z1 Driver Current" @bind-Value="PrinterManagerService.ActivePrinter.StepperDrivers.Z2DriverCurrent" Immediate="true" Variant="Variant.Outlined" />
                            <MudNumericField Disabled="@(PrinterManagerService.ActivePrinter.StepperDrivers.Z3DriverCurrent == null)" Label="Z2 Driver Current" @bind-Value="PrinterManagerService.ActivePrinter.StepperDrivers.Z3DriverCurrent" Immediate="true" Variant="Variant.Outlined" />
                            <MudNumericField Disabled="@(PrinterManagerService.ActivePrinter.StepperDrivers.EDriverCurrent == null)" Label="E Driver Current" @bind-Value="PrinterManagerService.ActivePrinter.StepperDrivers.EDriverCurrent" Immediate="true" Variant="Variant.Outlined" />
                            <MudNumericField Disabled="@(PrinterManagerService.ActivePrinter.StepperDrivers.E2DriverCurrent == null)" Label="E2 Driver Current" @bind-Value="PrinterManagerService.ActivePrinter.StepperDrivers.E2DriverCurrent" Immediate="true" Variant="Variant.Outlined" />
                            <MudNumericField Disabled="@(PrinterManagerService.ActivePrinter.StepperDrivers.E3DriverCurrent == null)" Label="E3 Driver Current" @bind-Value="PrinterManagerService.ActivePrinter.StepperDrivers.E3DriverCurrent" Immediate="true" Variant="Variant.Outlined" />
                            <MudButton Color="Color.Tertiary" FullWidth="true" OnClick="() => PrinterDataService.SetDriverCurrents(PrinterManagerService.ActivePrinter)">Update Values</MudButton>
                            <MudText Class="pt-4">
                                <MudText Style="display:inline;" Color="Color.Secondary">Note:</MudText>
                                <MudLink Color="Color.Tertiary" Target="_blank" Href="https://marlinfw.org/docs/gcode/M906.html">Check Marlin website for more info</MudLink>
                            </MudText>
                        </ExpansionPanel>
                    </MudPaper>
                </MudItem>
                <MudItem xs="12" md="6" lg="4" Class="mx-0 px-0 mb-0 pb-0">
                    <MudPaper MinHeight="@MinHeight" Class="pa-4 px-8" Outlined="true">
                        <div style="min-height:250px">
                            <MudCardHeader Class="pt-1" Style="display: flex; justify-content: center;">
                                <MudText Color="Color.Primary" Typo="Typo.button">Driver Stepping Mode</MudText>
                            </MudCardHeader>
                            <ContainerSpaceBetween>
                                <MudText Typo="Typo.subtitle2">X Stepper Mode:</MudText>
                                <MudText>@PrinterManagerService.ActivePrinter.StepperDrivers.XDriverSteppingMode</MudText>
                            </ContainerSpaceBetween>
                            <ContainerSpaceBetween>
                                <MudText Typo="Typo.subtitle2">Y Stepper Mode:</MudText>
                                <MudText>@PrinterManagerService.ActivePrinter.StepperDrivers.YDriverSteppingMode</MudText>
                            </ContainerSpaceBetween>
                            <ContainerSpaceBetween>
                                <MudText Typo="Typo.subtitle2">Z Stepper Mode:</MudText>
                                <MudText>@PrinterManagerService.ActivePrinter.StepperDrivers.ZDriverSteppingMode</MudText>
                            </ContainerSpaceBetween>
                            <ContainerSpaceBetween>
                                <MudText Typo="Typo.subtitle2">Z2 Stepper Mode:</MudText>
                                <MudText>@PrinterManagerService.ActivePrinter.StepperDrivers.Z2DriverSteppingMode</MudText>
                            </ContainerSpaceBetween>
                            <ContainerSpaceBetween>
                                <MudText Typo="Typo.subtitle2">Z3 Stepper Mode:</MudText>
                                <MudText>@PrinterManagerService.ActivePrinter.StepperDrivers.Z3DriverSteppingMode</MudText>
                            </ContainerSpaceBetween>
                            <ContainerSpaceBetween>
                                <MudText Typo="Typo.subtitle2">E Stepper Mode:</MudText>
                                <MudText>@PrinterManagerService.ActivePrinter.StepperDrivers.EDriverSteppingMode</MudText>
                            </ContainerSpaceBetween>
                            <ContainerSpaceBetween>
                                <MudText Typo="Typo.subtitle2">E2 Stepper Mode:</MudText>
                                <MudText>@PrinterManagerService.ActivePrinter.StepperDrivers.E2DriverSteppingMode</MudText>
                            </ContainerSpaceBetween>
                            <ContainerSpaceBetween>
                                <MudText Typo="Typo.subtitle2">E3 Stepper Mode:</MudText>
                                <MudText>@PrinterManagerService.ActivePrinter.StepperDrivers.E3DriverSteppingMode</MudText>
                            </ContainerSpaceBetween>
                        </div>

                        <MudDivider Class="mt-3" DividerType="DividerType.FullWidth" />
                        <ExpansionPanel>
                            <ContainerSpaceBetween>
                                <MudText>X Stepper Mode:</MudText>
                                <MudRadioGroup @bind-Value="@PrinterManagerService.ActivePrinter.StepperDrivers.XDriverSteppingMode"
                                               Disabled="@(PrinterManagerService.ActivePrinter.StepperDrivers.XDriverSteppingMode == null)">
                                    <MudRadio Value="@("StealthChop")" Color="Color.Primary">StealthChop</MudRadio>
                                    <MudRadio Value="@("SpreadCycle")" Color="Color.Primary">SpreadCycle</MudRadio>
                                </MudRadioGroup>
                            </ContainerSpaceBetween>
                            <ContainerSpaceBetween>
                                <MudText>Y Stepper Mode:</MudText>
                                <MudRadioGroup @bind-Value="@PrinterManagerService.ActivePrinter.StepperDrivers.YDriverSteppingMode"
                                               Disabled="@(PrinterManagerService.ActivePrinter.StepperDrivers.YDriverSteppingMode == null)">
                                    <MudRadio Value="@("StealthChop")" Color="Color.Primary">StealthChop</MudRadio>
                                    <MudRadio Value="@("SpreadCycle")" Color="Color.Primary">SpreadCycle</MudRadio>
                                </MudRadioGroup>
                            </ContainerSpaceBetween>
                            <ContainerSpaceBetween>
                                <MudText>Z Stepper Mode:</MudText>
                                <MudRadioGroup @bind-Value="@PrinterManagerService.ActivePrinter.StepperDrivers.ZDriverSteppingMode"
                                               Disabled="@(PrinterManagerService.ActivePrinter.StepperDrivers.ZDriverSteppingMode == null)">
                                    <MudRadio Value="@("StealthChop")" Color="Color.Primary">StealthChop</MudRadio>
                                    <MudRadio Value="@("SpreadCycle")" Color="Color.Primary">SpreadCycle</MudRadio>
                                </MudRadioGroup>
                            </ContainerSpaceBetween>
                            <ContainerSpaceBetween>
                                <MudText>Z2 Stepper Mode:</MudText>
                                <MudRadioGroup @bind-Value="@PrinterManagerService.ActivePrinter.StepperDrivers.Z2DriverSteppingMode"
                                               Disabled="@(PrinterManagerService.ActivePrinter.StepperDrivers.Z2DriverSteppingMode == null)">
                                    <MudRadio Value="@("StealthChop")" Color="Color.Primary">StealthChop</MudRadio>
                                    <MudRadio Value="@("SpreadCycle")" Color="Color.Primary">SpreadCycle</MudRadio>
                                </MudRadioGroup>
                            </ContainerSpaceBetween>
                            <ContainerSpaceBetween>
                                <MudText>Z3 Stepper Mode:</MudText>
                                <MudRadioGroup @bind-Value="@PrinterManagerService.ActivePrinter.StepperDrivers.Z3DriverSteppingMode"
                                               Disabled="@(PrinterManagerService.ActivePrinter.StepperDrivers.Z3DriverSteppingMode == null)">
                                    <MudRadio Value="@("StealthChop")" Color="Color.Primary">StealthChop</MudRadio>
                                    <MudRadio Value="@("SpreadCycle")" Color="Color.Primary">SpreadCycle</MudRadio>
                                </MudRadioGroup>
                            </ContainerSpaceBetween>
                            <ContainerSpaceBetween>
                                <MudText>E Stepper Mode:</MudText>
                                <MudRadioGroup @bind-Value="@PrinterManagerService.ActivePrinter.StepperDrivers.EDriverSteppingMode"
                                               Disabled="@(PrinterManagerService.ActivePrinter.StepperDrivers.EDriverSteppingMode == null)">
                                    <MudRadio Value="@("StealthChop")" Color="Color.Primary">StealthChop</MudRadio>
                                    <MudRadio Value="@("SpreadCycle")" Color="Color.Primary">SpreadCycle</MudRadio>
                                </MudRadioGroup>
                            </ContainerSpaceBetween>
                            <ContainerSpaceBetween>
                                <MudText>E2 Stepper Mode:</MudText>
                                <MudRadioGroup @bind-Value="@PrinterManagerService.ActivePrinter.StepperDrivers.E2DriverSteppingMode"
                                               Disabled="@(PrinterManagerService.ActivePrinter.StepperDrivers.E2DriverSteppingMode == null)">
                                    <MudRadio Value="@("StealthChop")" Color="Color.Primary">StealthChop</MudRadio>
                                    <MudRadio Value="@("SpreadCycle")" Color="Color.Primary">SpreadCycle</MudRadio>
                                </MudRadioGroup>
                            </ContainerSpaceBetween>
                            <ContainerSpaceBetween>
                                <MudText>E3 Stepper Mode:</MudText>
                                <MudRadioGroup @bind-Value="@PrinterManagerService.ActivePrinter.StepperDrivers.E3DriverSteppingMode"
                                               Disabled="@(PrinterManagerService.ActivePrinter.StepperDrivers.E3DriverSteppingMode == null)">
                                    <MudRadio Value="@("StealthChop")" Color="Color.Primary">StealthChop</MudRadio>
                                    <MudRadio Value="@("SpreadCycle")" Color="Color.Primary">SpreadCycle</MudRadio>
                                </MudRadioGroup>
                            </ContainerSpaceBetween>

                            <MudButton Color="Color.Tertiary" FullWidth="true" OnClick="() => PrinterDataService.SetDriverSteppingMode(PrinterManagerService.ActivePrinter)">Update Values</MudButton>
                            <MudText Class="pt-4">
                                <MudText Style="display:inline;" Color="Color.Secondary">Note:</MudText>
                                <MudLink Color="Color.Tertiary" Target="_blank" Href="https://marlinfw.org/docs/gcode/M569.html">Check Marlin website for more info</MudLink>
                            </MudText>
                        </ExpansionPanel>
                    </MudPaper>
                </MudItem>
                @*                 <MudItem xs="12" md="6" lg="6" Class="mx-0 px-0 mb-0 pb-0">
                <MudPaper MinHeight="@_minHeight" Class="pa-4 px-8" Outlined="true">
                <MudCardHeader Class="pt-1" Style="display: flex; justify-content: center;">
                <MudText Color="Color.Primary" Typo="Typo.button">Stepper Driver Microstepping</MudText>
                </MudCardHeader>
                <MudContainer>
                <MudText Typo="Typo.subtitle2">X Stepper Microstepping:</MudText>
                <MudText>@printer.Printer.StepperDrivers.XDriverMicrosteps</MudText>
                </MudContainer>
                <MudContainer>
                <MudText Typo="Typo.subtitle2">Y Stepper Microstepping:</MudText>
                <MudText>@printer.Printer.StepperDrivers.YDriverMicrosteps</MudText>
                </MudContainer>
                <MudContainer>
                <MudText Typo="Typo.subtitle2">Z Stepper Microstepping:</MudText>
                <MudText>@printer.Printer.StepperDrivers.ZDriverMicrosteps</MudText>
                </MudContainer>
                <MudContainer>
                <MudText Typo="Typo.subtitle2">E Stepper Microstepping:</MudText>
                <MudText>@printer.Printer.StepperDrivers.EDriverMicrosteps</MudText>
                </MudContainer>
                </MudPaper>
                </MudItem> *@
                <MudItem xs="12" md="6" lg="4" Class="mx-0 px-0 mb-0 pb-0">
                    <MudPaper MinHeight="@MinHeight" Class="pa-4 px-8" Outlined="true">
                        <div style="min-height:250px">
                            <MudCardHeader Class="pt-1" Style="display: flex; justify-content: center;">
                                <MudText Color="Color.Primary" Typo="Typo.button">Bump Sensitivty</MudText>
                            </MudCardHeader>
                            @if (PrinterManagerService.ActivePrinter.StepperDrivers.XStallGuardTreshold != null)
                            {
                                <ContainerSpaceBetween>
                                    <MudText Typo="Typo.subtitle2">X Bump Sensitivity:</MudText>
                                    <MudText>@PrinterManagerService.ActivePrinter.StepperDrivers.XStallGuardTreshold</MudText>
                                </ContainerSpaceBetween>
                            }

                            @if (PrinterManagerService.ActivePrinter.StepperDrivers.YStallGuardTreshold != null)
                            {
                                <ContainerSpaceBetween>
                                    <MudText Typo="Typo.subtitle2">Y Bump Sensitivity:</MudText>
                                    <MudText>@PrinterManagerService.ActivePrinter.StepperDrivers.YStallGuardTreshold</MudText>
                                </ContainerSpaceBetween>
                            }

                            @if (PrinterManagerService.ActivePrinter.StepperDrivers.ZStallGuardTreshold != null)
                            {
                                <ContainerSpaceBetween>
                                    <MudText Typo="Typo.subtitle2">Z Bump Sensitivity:</MudText>
                                    <MudText>@PrinterManagerService.ActivePrinter.StepperDrivers.ZStallGuardTreshold</MudText>
                                </ContainerSpaceBetween>
                            }
                        </div>

                        <MudDivider Class="mt-3" DividerType="DividerType.FullWidth" />
                        <ExpansionPanel>
                            <MudNumericField Disabled="@(PrinterManagerService.ActivePrinter.StepperDrivers.XStallGuardTreshold == null)" Label="X Bump Sensitivity" @bind-Value="PrinterManagerService.ActivePrinter.StepperDrivers.XStallGuardTreshold" Immediate="true" Variant="Variant.Outlined" />
                            <MudNumericField Disabled="@(PrinterManagerService.ActivePrinter.StepperDrivers.YStallGuardTreshold == null)" Label="Y Bump Sensitivity" @bind-Value="PrinterManagerService.ActivePrinter.StepperDrivers.YStallGuardTreshold" Immediate="true" Variant="Variant.Outlined" />
                            <MudNumericField Disabled="@(PrinterManagerService.ActivePrinter.StepperDrivers.ZStallGuardTreshold == null)" Label="Z Bump Sensitivity" @bind-Value="PrinterManagerService.ActivePrinter.StepperDrivers.ZStallGuardTreshold" Immediate="true" Variant="Variant.Outlined" />
                            <MudButton Color="Color.Tertiary" FullWidth="true" OnClick="() => PrinterDataService.SetBumpSensitivty(PrinterManagerService.ActivePrinter)">Update Values</MudButton>
                            <MudText Class="pt-4">
                                <MudText Style="display:inline;" Color="Color.Secondary">Note:</MudText>
                                <MudLink Color="Color.Tertiary" Target="_blank" Href="https://marlinfw.org/docs/gcode/M914.html">Check Marlin website for more info</MudLink>
                            </MudText>
                        </ExpansionPanel>
                    </MudPaper>
                </MudItem>
            </MudGrid>
        </MudTabPanel>
    </MudTabs>
</MudPaper>


@code {
    private const string _pidAutoTuneMessage = "PID auto tuning started";

    // Default to the first tab
    private int _activeTabIndex = 0;

    // Track if the navigation was from a link
    private bool _isNavigated = false;

    bool _expanded = true;
    private const string MinHeight = "200px";

    private void OnExpandCollapseClick()
    {
        _expanded = !_expanded;
    }
    private readonly MudTheme _mudTheme = new();

    protected override void OnInitialized()
    {
        PrinterManagerService.ActivePrinterChanged += OnSelectedPrinter;
        PrinterManagerService.InputReceived += OnUpdate;

        var uri = MyNavigationManager.ToAbsoluteUri(MyNavigationManager.Uri);
        // Check if the query parameter is present (but only for direct navigation)
        if (Microsoft.AspNetCore.WebUtilities.QueryHelpers.ParseQuery(uri.Query).TryGetValue("tab", out var tab))
        {
            // Set the flag to true when query parameter is found
            _isNavigated = true; 

            // Navigate to the correct tab only if it's a direct navigation (not on refresh)
            if (tab == "preheating")
            {
                _activeTabIndex = 5;
            }
            // Remove the query parameter without reloading the page
            var uriWithoutQuery = uri.GetLeftPart(UriPartial.Path);

            // replace keeps the user on the same page
            MyNavigationManager.NavigateTo(uriWithoutQuery, replace: true);
        }
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            if (PrinterManagerService.Printers != null && PrinterManagerService.Printers.Count > 0)
            {
                PrinterDataService.RequestPrinterSettingsReport(PrinterManagerService.ActivePrinter);
                PrinterDataService.RequestFirmwareReport(PrinterManagerService.ActivePrinter);
            }
        }

        if (firstRender && !_isNavigated)
        {
            // Ensure the first tab is selected on refresh
            _activeTabIndex = 0;
            StateHasChanged();
        }
    }

    public async void OnUpdate(string message)
    {
        PrinterDataService.OnUpdateSettings(message, PrinterManagerService.ActivePrinter);
        await InvokeAsync(StateHasChanged);
    }

    public async void OnSelectedPrinter(object sender, EventArgs e)
    {
        try
        {
            await InvokeAsync(() => MyNavigationManager.NavigateTo(MyNavigationManager.Uri, true));
        }
        catch (NavigationException navEx)
        {
            Console.WriteLine($"Navigation error: {navEx.Message}");
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Unexpected error: {ex.Message}");
        }
    }

    private void SnackbarMessage(string input)
    {
        Snackbar.Add(input,Severity.Info);
    }

    public void Dispose()
    {
        PrinterManagerService.InputReceived -= OnUpdate;
    }
}