@page "/printhistory"
@using MachineControlHub.Motion
@using MachineControlHub.Print

@inject PrintingService printingService
@inject PrinterDataService printerDataServiceTest
@inject PrinterManagerService PrinterManager
@inject NavigationManager MyNavigationManager

<MudGrid Class="mt-9" Style="width: 100vw;">
    <MudItem xl="6">
        <div style="text-align:center;">
            <!-- Add this div with text-align style -->
            <MudText Typo="Typo.h4" Color="Color.Primary" Align="Align.Center" Class="pb-10">Print History</MudText>
        </div>

        @foreach (var printJob in printerDataServiceTest.PrintHistory.Where(printJob => printJob.PortName == PrinterManager.ActivePrinter.SerialConnection.PortName))
        {
            <div style="display:flex; justify-content:center; align-items: center;">
                <div style="width:60%;">
                    <ContainerSpaceBetween>
                        <MudText>Printer name:</MudText>
                        <MudText>@printJob.PrinterName</MudText>
                    </ContainerSpaceBetween>
                    <ContainerSpaceBetween>
                        <MudText>File name:</MudText>
                        <MudText>@printJob.FileName</MudText>
                    </ContainerSpaceBetween>
                    <ContainerSpaceBetween>
                        <MudText>Total print time:</MudText>
                        <MudText>@printJob.TotalPrintTime</MudText>
                    </ContainerSpaceBetween>
                    <ContainerSpaceBetween>
                        <MudText>Start time of print:</MudText>
                        <MudText>@printJob.StartTimeOfPrint</MudText>
                    </ContainerSpaceBetween>
                    <ContainerSpaceBetween>
                        <MudText>File size:</MudText>
                        <MudText>@Math.Round(printJob.ConvertToMB(printJob.FileSize), 2)MB</MudText>
                    </ContainerSpaceBetween>

                    <MudButton FullWidth="true" Color="Color.Error" OnClick="() => printerDataServiceTest.RemovePrintJob(printJob)">Delete Record</MudButton>
                    <MudDivider />@*
                <ContainerSpaceBetween>
                <MudText>End time of print: @printJob.EndTimeOfPrint</MudText>
                </ContainerSpaceBetween>  *@
                </div>
            </div>
        }
    </MudItem>
    <MudItem xl="6">
        <div style="text-align:center;">
            <!-- Add this div with text-align style -->
            <MudText Typo="Typo.h4" Color="Color.Primary" Align="Align.Center" Class="pb-10">Print Alltime Stats</MudText>
        </div>
        <div style="display:flex; justify-content:center; align-items: center;">
            <div style="width:60%;">
                <ContainerSpaceBetween>
                    <MudText>Number of prints:</MudText>
                    <MudText>@PrinterManager.ActivePrinter.PrintHistory.TotalPrints</MudText>
                </ContainerSpaceBetween>
                <ContainerSpaceBetween>
                    <MudText>Finished prints:</MudText>
                    <MudText>@PrinterManager.ActivePrinter.PrintHistory.TotalFinishedPrints</MudText>
                </ContainerSpaceBetween>
                <ContainerSpaceBetween>
                    <MudText>Failed prints:</MudText>
                    <MudText>@PrinterManager.ActivePrinter.PrintHistory.TotalFailedPrints</MudText>
                </ContainerSpaceBetween>
                <ContainerSpaceBetween>
                    <MudText>Total print time:</MudText>
                    <MudText>@PrinterManager.ActivePrinter.PrintHistory.TotalPrintTime</MudText>
                </ContainerSpaceBetween>
                <ContainerSpaceBetween>
                    <MudText>Longest print job:</MudText>
                    <MudText>@PrinterManager.ActivePrinter.PrintHistory.LongestPrintJob</MudText>
                </ContainerSpaceBetween>
                <ContainerSpaceBetween>
                    <MudText>Filament used:</MudText>
                    <MudText>@PrinterManager.ActivePrinter.PrintHistory.FilamentUsed</MudText>
                </ContainerSpaceBetween>
            </div>
        </div>
    </MudItem>
</MudGrid>

@code {
    protected override void OnInitialized()
    {
        printerDataServiceTest.PrintHistory = printerDataServiceTest.LoadPrinterDataList<MachineControlHub.Print.CurrentPrintJob>(PrinterDataService.PRINT_HISTORY_PATH);

        // Check if the serial connection is established and request Print Job Stats if connected
        if (PrinterManager.Printers != null && PrinterManager.Printers.Count > 0)
        {
            printerDataServiceTest.RequestPrintJobStats(PrinterManager.ActivePrinter);

            // Subscribe to the InputReceived event of the selected printer
            PrinterManager.InputReceived += OnUpdate;
        }
    }

    private void OnUpdate(string message)
    {
        printerDataServiceTest.GetPrintJobStats(message, PrinterManager.ActivePrinter);
        InvokeAsync(StateHasChanged);
    }

    /// <summary>
    /// Refreshes the component state when toggling between printers.
    /// </summary>
    /// <param name="sender"></param>
    /// <param name="e"></param>
    private async void OnSelectedPrinter(object sender, EventArgs e)
    {
        try
        {
            await InvokeAsync(() => MyNavigationManager.NavigateTo(MyNavigationManager.Uri, true));
        }
        catch (NavigationException navEx)
        {
            Console.WriteLine($"Navigation error: {navEx.Message}");
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Unexpected error: {ex.Message}");
        }
    }
}
