@page "/print"
@inject Data.PrintingService print
@inject Data.ConnectionServiceSerial serial
@inject Data.BedLevelingService levelBed
@inject NavigationManager MyNavigationManager
@inject Data.PrinterData printerData
@inject Data.HotendTemperatureService hotend
@inject Data.BedTemperatureService bed
@inject IDialogService DialogService
@inject IDialogService DialogService

@implements IDisposable

@using MachineControlHub.Temps
@using System.Globalization
@using Plotly.Blazor.Interop
@using Plotly.Blazor.LayoutLib
@using MachineControlHub.Motion;
@using MachineControlHub.Print;

@if (serial.isConnected == "Connected")
{
    <MudAlert Severity="Severity.Success" Variant="Variant.Filled">@serial.isConnected</MudAlert>
}
else
{
    <MudAlert Severity="Severity.Error" Variant="Variant.Filled">@serial.isConnected</MudAlert>
}
<MudGrid>
    <MudItem xs="4">
        <MudPaper MinHeight="600px" Width="100%" Elevation="0">
            <MudCardContent>
                <MudButton class="button-30" @onclick="() => {Confirm();}">Start Print</MudButton>
                <MudButton class="button-30" @onclick="Confirm">Pause Print</MudButton>
                <MudButton class="button-30" @onclick="print.StopPrint">Stop Print</MudButton>

                <MudFileUpload T="IBrowserFile" OnFilesChanged="LoadFiles" Accept=".gcode,.gco,.txt">
                    <ButtonTemplate>
                        <MudButton HtmlTag="label"
                                   Variant="Variant.Filled"
                                   Color="Color.Primary"
                                   StartIcon="@Icons.Material.Filled.CloudUpload"
                                   for="@context.Id">
                            Upload Files
                        </MudButton>
                    </ButtonTemplate>
                </MudFileUpload>

                <MudSelect @bind-Value="@fileToPrint" T="string" Label="SD Files" Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter">
                    @if (serial.initialized)
                    {
                        @foreach (var file in files)
                        {
                            <MudSelectItem Value="@file" />
                        }
                    }
                </MudSelect>

                <p>File printing: <strong>@print.printName</strong></p>
                <p>Estimated print time: @print.estimatedTime</p>
                <p>Elapsed print time:  @string.Format("{0}h {1}m {2}s", hours, minutes, seconds)</p>
                <p>Start time: <strong>@print.printJob.FormattedStartTime</strong></p>
                <p>File Size: <strong>@print.fileSize MB</strong></p>
            </MudCardContent>
        </MudPaper>
    </MudItem>

    <MudItem xs="8">
        <MudPaper Height="100%" Width="100%" Elevation="2">
            <MudCardContent>
                @if (!IsInitialized)
                {
                    <MudPaper>
                        <MudProgressLinear Color="Color.Primary" Indeterminate="true" />
                    </MudPaper>
                }
                <PlotlyChart style="height: 60vh; min-height: 350px" @bind-Config="config" @bind-Layout="layout" @bind-Data="data" @ref="chart"
                             ClickAction="ClickAction" HoverAction="HoverAction" />


                <MudButton FullWidth="true" Disabled="@_processing" OnClick="Calibrate" Variant="Variant.Filled" Color="Color.Primary">
                    @if (_processing)
                    {
                        <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true" />
                        <MudText Class="ms-2">Processing</MudText>
                    }
                    else
                    {
                        <MudText>Calibrate</MudText>
                    }
                </MudButton>
            </MudCardContent>
        </MudPaper>
    </MudItem>


    <MudItem xs="4">
        <MudPaper Width="100%" Square="true">
            <MudList>
                <MudListItem>
                    <MudStack Row="true" AlignItems="AlignItems.Center">
                        <MudText>Current Hotend Temperature: @hotend.currentHotendTemperature</MudText>
                        <MudText>Target Hotend Temperature: @hotend.targetHotendTemperature</MudText>
                    </MudStack>
                </MudListItem>
                <MudDivider DividerType="DividerType.FullWidth" />
                <MudListItem>
                    <MudStack Row="true" AlignItems="AlignItems.Center">
                        <MudText>Current Bed Temperature: @hotend.currentHotendTemperature</MudText>
                        <MudText>Target Bed Temperature: @bed.targetBedTemperature</MudText>
                    </MudStack>
                </MudListItem>
                <MudDivider DividerType="DividerType.FullWidth" />
            </MudList>
        </MudPaper>

        <MudNumericField @bind-Value="hotend.setHotendTemperature" Label="Set Hotend Temperature" Variant="Variant.Outlined" Min="0" HideSpinButtons="true" />
        <MudButton Variant="Variant.Filled" Color="Color.Tertiary" @onclick="() => hotend.SetHotendTemperature(hotend.setHotendTemperature)">Set Hotend Temperature</MudButton>
        <MudButton Variant="Variant.Filled" Color="Color.Error" @onclick="() => hotend.SetHotendTemperature(0)">Turn Hotend Off</MudButton>

        <MudNumericField @bind-Value="bed.setBedTemperature" Label="Set Bed Temperature" Variant="Variant.Outlined" Min="0" HideSpinButtons="true" />
        <MudButton Variant="Variant.Filled" Color="Color.Tertiary" @onclick="() => bed.SetBedTemperature(bed.setBedTemperature)">Set Bed Temperature</MudButton>
        <MudButton Variant="Variant.Filled" Color="Color.Error" @onclick="() => bed.SetBedTemperature(0)">Turn Bed Off</MudButton>

        <MudButton Variant="Variant.Filled" Color="Color.Primary" @onclick="() => hotend.ChangeFilament()">Change Filament</MudButton>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" @onclick="() => hotend.LoadFilament()">Load Filament</MudButton>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" @onclick="() => hotend.UnloadFilament()">Unload Filament</MudButton>
    </MudItem>
    <MudItem xs="8">
        <MudPaper Height="100%" Width="100%" Elevation="0">
            <MudChart ChartType="ChartType.Line" ChartSeries="@Series" @bind-SelectedIndex="Index" XAxisLabels="@XAxisLabels" Width="100%" Height="350px" ChartOptions="@Options" />
        </MudPaper>
    </MudItem>
</MudGrid>

@code {

    protected override void OnInitialized()
    {
        timer = new Timer(UpdateTemperatureValues, null, TimeSpan.Zero, TimeSpan.FromSeconds(1));
        if (serial.initialized)
        {
            files = print.ListSDFiles();
        }
        config = new Config
            {
                ShowLink = false,
                Responsive = true,
                DisplayLogo = true
            };

        layout = new Layout
            {
                Title = new Title
                {
                    Text = "Bed Mesh"
                },
                PaperBgColor = "white",
                PlotBgColor = "white",
                Font = new Font
                {
                    Color = "black"
                },
                Margin = new Plotly.Blazor.LayoutLib.Margin
                {
                    L = 65,
                    R = 50,
                    B = 65,
                    T = 90
                }
            };

        data = new List<ITrace>();
        LoadData();
        base.OnInitialized();
    }
}
