@page "/print"
@inject Data.PrintingService print
@inject Data.BedLevelingService levelBed
@inject NavigationManager MyNavigationManager
@inject Data.HotendTemperatureService hotend
@inject Data.BedTemperatureService bed
@inject Data.ChamberTemperatureService chamber
@inject Data.BackgroundTimer background
@inject Data.PrinterDataServiceTest printer
@inject ISnackbar Snackbar

@implements IDisposable
@using MachineControlHub.Temps
@using System.Globalization
@using Plotly.Blazor.Interop
@using Plotly.Blazor.LayoutLib
@using MachineControlHub.Motion;
@using MachineControlHub.Print;
@using System.Text

<ConnectionStatus SelectedPrinter="@printer.SelectedPrinter.Name" Connection="background.ConnectionServiceSerial.printerConnection.IsConnected" />
<PrinterState />

@if (printer.SelectedPrinter != null)
{
    <MudGrid Style="width:100%;" Class="pr-0 mr-0">

        @* Print Controls --------------------------------------------------------------------------------------------*@
        <MudItem Style="width:100%;" xs="12" sm="12" md="12" lg="5" Class="pl-6 mr-0 pr-0 pt-10">
            <ContainerSpaceBetween>
                <MudButton FullWidth="true" Variant="Variant.Text" Color="Color.Tertiary" OnClick="print.ConfirmStartAsync">Start</MudButton>
                <MudButton FullWidth="true" Variant="Variant.Text" Color="Color.Tertiary" @onclick="print.PausePrint">Pause</MudButton>
                <MudButton FullWidth="true" Variant="Variant.Text" Color="Color.Tertiary" @onclick="print.ResumePrint">Resume</MudButton>
                <MudButton FullWidth="true" Variant="Variant.Text" Color="Color.Tertiary" @onclick="print.StopPrint">Stop</MudButton>
            </ContainerSpaceBetween>
            <MudDivider Class="pt-5" />
            <MudGrid Justify="Justify.SpaceAround">
                <MudItem xs="12" md="4" lg="4" Class="pr-0 pl-5">
                    <MudFileUpload T="IBrowserFile" OnFilesChanged="LoadFiles" Accept=".gcode,.gco,.txt">
                        <ButtonTemplate>
                            <MudButton HtmlTag="label"
                                       Variant="Variant.Filled"
                                       Color="Color.Primary"
                                       StartIcon="@Icons.Material.Filled.CloudUpload"
                                       for="@context.Id">
                                Upload Files
                            </MudButton>
                        </ButtonTemplate>
                    </MudFileUpload>
                </MudItem>
                <MudItem xs="12" md="8" lg="8">
                    <MudExpansionPanel Text="Uploaded Files">
                        @foreach (var file in print.uploadedFiles)
                        {
                            <MudListItem>
                                <div style="display: flex; justify-content: space-between; align-items: center;">
                                    <MudText Typo="Typo.subtitle2">@file.FileName</MudText>
                                    <MudText Typo="Typo.overline">@Math.Round(print.printProgress.ConvertToMB(@file.FileSize), 2)MB</MudText>
                                    <MudProgressCircular Color="Color.Default" Indeterminate=@print.isTransferring />
                                    <MudButton OnClick="() => print.WriteFileToPort(print.chosenPort,file.FileName)">Add to media</MudButton>
                                </div>
                            </MudListItem>
                        }
                    </MudExpansionPanel>
                </MudItem>
            </MudGrid>

            <MudGrid Justify="Justify.SpaceAround">
                <MudItem xs="6" lg="6" Class="px-0">
                    <MudButton FullWidth="true" Variant="Variant.Text" Color="Color.Tertiary" OnClick="print.ReleaseMedia">Release Media</MudButton>
                </MudItem>
                <MudItem xs="6" lg="6" Class="px-0">
                    <MudButton FullWidth="true" Variant="Variant.Text" Color="Color.Tertiary" OnClick="print.AttachMedia">Attach Media</MudButton>
                </MudItem>
            </MudGrid>

            @if (print.PortsAvailable != null)
            {
                <MudSelect Label="Select Media" T="string" @bind-Value="print.chosenPort" Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter">
                    @foreach (var port in print.PortsAvailable)
                    {
                        <MudSelectItem Value="@port.DriveName">
                            <div style="display: flex; justify-content: space-between;">
                                <MudText> @port.DriveName @port.VolumeLabel </MudText>
                                @if (print.chosenPort == port.DriveName)
                                {
                                    <MudIcon Icon="@Icons.Material.Filled.CheckCircle" Color="Color.Success" />
                                }
                            </div>
                        </MudSelectItem>
                    }
                </MudSelect>
            }



            <MudSelect @bind-Value="@print.fileToPrint" T="string" Label="SD Files" Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter">
                @if (background.ConnectionServiceSerial.IsConnected)
                {
                    @if (print.files != null)
                    {
                        @foreach (var file in print.files)
                        {
                            <MudSelectItem Value="@file" />
                        }
                    }
                }
            </MudSelect>
            <ContainerSpaceBetween Class="pt-8">
                <MudText>File printing:</MudText>
                <MudText><strong>@print.printName</strong></MudText>
            </ContainerSpaceBetween>
            <ContainerSpaceBetween>
                <MudText>Estimated print time:</MudText>
                <MudText>@print.estimatedTime</MudText>
            </ContainerSpaceBetween>
            <ContainerSpaceBetween>
                <MudText>Elapsed print time:</MudText>
                <MudText>@print.timeElapsed</MudText>
            </ContainerSpaceBetween>
            <ContainerSpaceBetween>
                <MudText>Start time:</MudText>
                <MudText><strong>@print.printJob.FormattedStartTime</strong></MudText>
            </ContainerSpaceBetween>
            <ContainerSpaceBetween>
                <MudText>File Size:</MudText>
                <MudText><strong>@print.fileSize MB</strong></MudText>

            </ContainerSpaceBetween>
        </MudItem>

        @* Temperatures --------------------------------------------------------------------------------------------*@

        <MudItem xs="12" sm="12" md="12" lg="7" Class="pt-10 pr-0 mr-0 pl-8" Style="width:100%;">
            <MudGrid>
                <MudItem xs="12" sm="12" md="12" lg="12">
                    <MudContainer>
                        <MudText>Turn off if temperatures are not updating</MudText>
                        <MudSwitch @bind-Value="@print.autoReportTemps" Color="Color.Success" Class="mr-n2 mb-6"></MudSwitch>
                    </MudContainer>
                    <MudGrid Class="pb-6">
                        <MudItem xs="12" sm="12" md="6" Style="align-content:space-around;">
                            <ContainerSpaceBetween Class="pt-0 mt-0">
                                <MudText>Current Hotend Temperature:</MudText>
                                <MudText Color="@(hotend.currentHotendTemperature >= @hotend.targetHotendTemperature - 3 && hotend.currentHotendTemperature <= @hotend.targetHotendTemperature + 3 ? Color.Success : Color.Secondary)">  @hotend.currentHotendTemperature</MudText>
                            </ContainerSpaceBetween>
                            <ContainerSpaceBetween Class="pt-2 mt-2">
                                <MudText>Target Hotend Temperature:</MudText>
                                <MudText Color="Color.Success">@hotend.targetHotendTemperature</MudText>
                            </ContainerSpaceBetween>
                        </MudItem>
                        <MudItem xs="12" sm="12" md="6">
                            <MudGrid Style="align-items: center;">
                                <MudItem xs="12" sm="6" md="12">
                                    <MudNumericField @bind-Value="hotend.setHotendTemperature" Label="Set Hotend Temperature" Variant="Variant.Text" Min="0" HideSpinButtons="true" />
                                </MudItem>
                                <MudItem xs="12" sm="6" md="12" Class="my-0 py-0">
                                    <ContainerSpaceBetween Class="ma-0 pa-0">
                                        <MudButton FullWidth="true" Size="Size.Small" Variant="Variant.Text" Color="Color.Tertiary" @onclick="() => hotend.SetHotendTemperature(hotend.setHotendTemperature)">Set Temperature</MudButton>
                                        <MudButton FullWidth="true" Size="Size.Small" Variant="Variant.Text" Color="Color.Error" @onclick="() => hotend.SetHotendTemperature(0)">Turn Off</MudButton>
                                    </ContainerSpaceBetween>
                                </MudItem>
                            </MudGrid>
                        </MudItem>
                        <MudDivider />

                    </MudGrid>

                    <MudGrid Class="pb-6">
                        <MudItem xs="12" sm="12" md="6" Style="align-content:space-around;">
                            <ContainerSpaceBetween Class="pt-0 mt-0">
                                <MudText>Current Bed Temperature:</MudText>
                                <MudText>@bed.currentBedTemperature</MudText>
                            </ContainerSpaceBetween>
                            <ContainerSpaceBetween Class="pt-2 mt-2">
                                <MudText>Target Bed Temperature:</MudText>
                                <MudText>@bed.targetBedTemperature</MudText>
                            </ContainerSpaceBetween>
                        </MudItem>
                        <MudItem xs="12" sm="12" md="6">
                            <MudGrid Style="align-items: center;">
                                <MudItem xs="12" sm="6" md="12">
                                    <MudNumericField @bind-Value="bed.setBedTemperature" Label="Set Bed Temperature" Variant="Variant.Text" Min="0" HideSpinButtons="true" />
                                </MudItem>
                                <MudItem xs="12" sm="6" md="12" Class="my-0 py-0">
                                    <ContainerSpaceBetween Class="ma-0 pa-0">
                                        <MudButton FullWidth="true" Size="Size.Small" Variant="Variant.Text" Color="Color.Tertiary" @onclick="() => bed.SetBedTemperature(bed.setBedTemperature)">Set Temperature</MudButton>
                                        <MudButton FullWidth="true" Size="Size.Small" Variant="Variant.Text" Color="Color.Error" @onclick="() => bed.SetBedTemperature(0)">Turn Off</MudButton>
                                    </ContainerSpaceBetween>
                                </MudItem>

                            </MudGrid>
                        </MudItem>
                        <MudDivider />

                    </MudGrid>

                    <MudGrid Class="pb-6">
                        <MudItem xs="12" sm="12" md="6" Style="align-content:space-around;">
                            <ContainerSpaceBetween Class="pt-0 mt-0">
                                <MudText>Current Chamber Temperature:</MudText>
                                <MudText>@chamber.currentChamberTemperature</MudText>
                            </ContainerSpaceBetween>
                            <ContainerSpaceBetween Class="pt-2 mt-2">
                                <MudText>Target Chamber Temperature:</MudText>
                                <MudText>@chamber.targetChamberTemperature</MudText>
                            </ContainerSpaceBetween>
                        </MudItem>
                        <MudItem xs="12" sm="12" md="6">
                            <MudGrid Style="align-items: center;">
                                <MudItem xs="12" sm="6" md="12">
                                    <MudNumericField @bind-Value="chamber.setChamberTemperature" Label="Set Chamber Temperature" Variant="Variant.Text" Min="0" HideSpinButtons="true" />
                                </MudItem>
                                <MudItem xs="12" sm="6" md="12" Class="my-0 py-0">
                                    <ContainerSpaceBetween Class="ma-0 pa-0">
                                        <MudButton FullWidth="true" Size="Size.Small" Variant="Variant.Text" Color="Color.Tertiary" @onclick="() => chamber.SetChamberTemperature(chamber.setChamberTemperature)">Set Temperature</MudButton>
                                        <MudButton FullWidth="true" Size="Size.Small" Variant="Variant.Text" Color="Color.Error" @onclick="() => chamber.SetChamberTemperature(0)">Turn Off</MudButton>
                                    </ContainerSpaceBetween>
                                </MudItem>
                            </MudGrid>
                        </MudItem>
                        <MudDivider />

                    </MudGrid>

                    <MudGrid>
                        <MudItem Class="mr-0 pr-0" xs="12" sm="4" md="4" lg="4">
                            <MudButton FullWidth="true" Variant="Variant.Text" Color="Color.Tertiary" @onclick="() => hotend.ChangeFilament()">Change Filament</MudButton>
                        </MudItem>
                        <MudItem Class="mx-0 px-0" xs="12" sm="4" md="4" lg="4">
                            <MudButton FullWidth="true" Variant="Variant.Text" Color="Color.Tertiary" @onclick="() => hotend.LoadFilament()">Load Filament</MudButton>
                        </MudItem>
                        <MudItem Class="ml-0 pl-0" xs="12" sm="4" md="4" lg="4">
                            <MudButton FullWidth="true" Variant="Variant.Text" Color="Color.Tertiary" @onclick="() => hotend.UnloadFilament()">Unload Filament</MudButton>
                        </MudItem>
                        <MudDivider Class="pt-5" />
                    </MudGrid>@*
                <ContainerSpaceBetween Class="pt-10">
                <MudButton FullWidth="true" Variant="Variant.Text" Color="Color.Tertiary" @onclick="() => hotend.ChangeFilament()">Change Filament</MudButton>
                <MudButton FullWidth="true" Variant="Variant.Text" Color="Color.Tertiary" @onclick="() => hotend.LoadFilament()">Load Filament</MudButton>
                <MudButton FullWidth="true" Variant="Variant.Text" Color="Color.Tertiary" @onclick="() => hotend.UnloadFilament()">Unload Filament</MudButton>
                </ContainerSpaceBetween> *@

                    @* Preheating Profiles -------------------------------------------------------------- *@

                    <MudCarousel Class="mud-width-full" Style="height:200px;" TData="object" AutoCycle="true" AutoCycleTime="TimeSpan.FromSeconds(10)" EnableSwipeGesture="true" Elevation="1">
                        @foreach (var profile in printer.preheatingProfiles)
                        {
                            <MudCarouselItem Transition="MudBlazor.Transition.Slide" Color="@Color.Surface">
                                <MudText Typo="Typo.h4" Style="display: flex; justify-content: center; ">@profile.MaterialName</MudText>

                                <div class="d-flex pt-4 pr-16 pl-16" Style="display: flex; justify-content: space-around; align-items: center;">
                                    <MudText Typo="Typo.overline"><b>Hotend:</b> @(profile.HotendTemp)°C</MudText>
                                    <MudText Typo="Typo.overline"><b>Bed</b>: @(profile.BedTemp)°C</MudText>
                                    <MudText Typo="Typo.overline"><b>Fan Speed:</b> @(profile.FanSpeed)%</MudText>
                                </div>
                                <div Style="display: flex; justify-content: center;" class="pt-2">
                                    <MudButton Class="mr-5 px-5" Variant="Variant.Text" Color="Color.Tertiary" OnClick="() => printer.StartPreheating(profile)">Preheat</MudButton>
                                    <MudIconButton Icon="@Icons.Material.Filled.Delete" Variant="Variant.Text" Color="Color.Error" OnClick="() => printer.DeletePreheatingProfile(profile)" />
                                </div>
                            </MudCarouselItem>
                        }
                    </MudCarousel>
                </MudItem>
            </MudGrid>
        </MudItem>

        @* Bed Leveling -------------------------------------------------------------- *@

        <MudItem xs="12" md="6" Class="pa-0">
            <MudGrid Class="pl-6">
                <MudItem xs="12" sm="12" md="12" lg="12" Class="pb-0 mb-0">
                    <PlotlyChart style="height: 60vh; min-height: 350px" @bind-Config="config" @bind-Layout="layout" @bind-Data="data" @ref="chart" />
                </MudItem>
                <MudItem xs="12" sm="12" md="12" lg="12" Class="pt-0 mt-0">
                    @if (!print._isPrinting)
                    {
                        <MudButton FullWidth="true" Disabled="@print._processing" OnClick="print.CalibrateBed" Variant="Variant.Filled" Color="Color.Tertiary">
                            @if (print._processing)
                            {
                                <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true" />
                                <MudText Class="ms-2">Measuring Bed</MudText>
                            }
                            else
                            {
                                <MudText>CALIBRATE BED</MudText>
                            }
                        </MudButton>
                    }
                </MudItem>
            </MudGrid>
        </MudItem>
        @* Temperature Graph -------------------------------------------------------------- *@

        <MudItem xs="12" md="6" Class="pa-0 mr-0">
            <div style="display: flex; justify-content: center; align-items: center; height: 100%;">
                <MudChart ChartType="ChartType.Line" ChartSeries="@print.Series" @bind-SelectedIndex="print.Index" XAxisLabels="@print.XAxisLabels" Width="100%" Height="350px" ChartOptions="print.Options" />
            </div>
        </MudItem>
    </MudGrid>
}
else
{
    <MudAlert Severity="Severity.Error" Variant="Variant.Filled">No printer profile selected</MudAlert>
}
@code {

    private PlotlyChart chart;
    private Config config;
    private Layout layout;
    private IList<ITrace> data;
    string fileMessage = "";
    string sdFiles = "";
    string calibrateMessage = "";

    protected override void OnInitialized()
    {
        background.MessageReceived += OnUpdate;
        background.SecondElapsed += OnTemperatureChange;

        if (background.ConnectionServiceSerial.IsConnected)
        {
            background.ConnectionServiceSerial.Write(CommandMethods.BuildListSDCardCommand());
        }

        config = new Config
            {
                ShowLink = false,
                Responsive = true,
                DisplayLogo = true
            };

        layout = new Layout
            {
                Title = new Title
                {
                    Text = "Bed Mesh"
                },
                PaperBgColor = "white",
                PlotBgColor = "white",
                Font = new Font
                {
                    Color = "black"
                },
                Margin = new Plotly.Blazor.LayoutLib.Margin
                {
                    L = 65,
                    R = 50,
                    B = 65,
                    T = 90
                }
            };
        printer.preheatingProfiles = printer.LoadPrinterDataList<MachineControlHub.Material.PreheatingProfiles>(Data.PrinterDataServiceTest.PREHEATING_PROFILES_PATH);
        printer.SelectedPrinter = printer.LoadPrinterData<MachineControlHub.Printer>(Data.PrinterDataServiceTest.SELECTED_PRINTER_SETTINGS_PATH);
        levelBed.CSVData = printer.LoadPrinterData<string>("meshData.json");

    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await Task.Run(() =>
            {
                data = new List<ITrace>();
                LoadPlotlyData();
            });
        }
    }


    public void OnUpdate(string message)
    {

        // get the list of files on the SD card
        fileMessage += message;
        if (message.Contains("End"))
        {
            sdFiles = string.Join("\n", fileMessage.Split('\n').Where(line => !string.IsNullOrWhiteSpace(line)));
            print.ListSDFiles(sdFiles);
            fileMessage = "";
        }
        print.ElapsedPrintTime(message);

        // get the bed leveling data
        if (fileMessage.Contains("Bilinear"))
        {
            calibrateMessage += message;
            if (message.Contains("X:"))
            {
                levelBed.CSVData = "";
                levelBed.CSVData = levelBed.bedData.GetGrid(calibrateMessage);
                levelBed.meshData = levelBed.GetSurfaceData();
                print._processing = false;
                fileMessage = "";
                calibrateMessage = "";

                // delete previous bed leveling data if it exists
                if (File.Exists("meshData.json"))
                {
                    File.Delete("meshData.json");
                }
                // save the new bed leveling data
                printer.SavePrinterData("meshData.json", levelBed.CSVData);
                LoadPlotlyData();
                MyNavigationManager.NavigateTo("/print", true);
            }
        }

        // get other printer status information
        hotend.ParseCurrentHotendTemperature(message);
        bed.ParseCurrentBedTemperature(message);
    }


    private void OnTemperatureChange()
    {
        if (background.ConnectionServiceSerial.IsConnected)
        {
            Task.Run(async () =>
            {

                if (!print.autoReportTemps)
                {
                    background.ConnectionServiceSerial.Write(CommandMethods.BuildReportTemperaturesCommand());
                }
                if (Data.PrintingService.hotendGraph.Count >= 30)
                {
                    Data.PrintingService.hotendGraph.RemoveAt(0);
                    Data.PrintingService.bedGraph.RemoveAt(0);

                }
                Data.PrintingService.hotendGraph.Add(hotend.currentHotendTemperature);
                Data.PrintingService.bedGraph.Add(bed.currentBedTemperature);
                print.UpdateGraphData();
                await Task.Run(() => print.GetDrives());
                await InvokeAsync(StateHasChanged);
            });
            if (print._isPrinting)
            {
                background.ConnectionServiceSerial.Write("M31");
                print.DisplayEstimatedTimeRemaining();
            }
        }
    }

    private async Task LoadFiles(InputFileChangeEventArgs e)
    {
        print.file = await new StreamReader(e.File.OpenReadStream(Data.PrintingService.MAX_FILE_SIZE)).ReadToEndAsync();
        var fileName = e.File.Name;
        var fileSize = e.File.Size;
        print.uploadedFiles.Add((fileName, print.file, fileSize));
        // print.ExtractPrintingSettings(print.file);
        StateHasChanged();
    }


    private void LoadPlotlyData()
    {
        if (levelBed.CSVData != null)
        {
            levelBed.meshData = levelBed.GetSurfaceData();
            Task.Run(async () =>
            {
                foreach (var trace in await levelBed.meshData)
                {
                    await InvokeAsync(async () => await chart.AddTrace(trace));
                    await Task.Delay(100);
                }

                levelBed._isInitialized = true;
            });
        }
    }

    public void Dispose()
    {
        background.MessageReceived -= OnUpdate;
        background.SecondElapsed -= OnTemperatureChange;
    }
}