@page "/print"
@inject Data.PrintingService print
@inject Data.ConnectionServiceSerial serial

@using MachineControlHub.Motion;
@using MachineControlHub.Print;

<h5 style="color: @(serial.isConnected == "Connected" ? "green" : "red")">@serial.isConnected</h5>
<br />
<br />
<h3>Print</h3>


<button @onclick = "() => {print.StartPrint(fileToPrint);print.StartTimeOfPrint();print.GetFileNameAndSize(fileToPrint);}">Start Print</button>
<button @onclick = "print.PausePrint">Pause Print</button>
<button @onclick = "print.StopPrint">Stop Print</button>
<br />
<br />

<p>SD files:</p>

<select @bind=fileToPrint>
    @if (serial.initialized)
    {
        @foreach (var file in files)
        {
            <option value=@file>@file</option>
        }
    }
</select>
<br />
<br />

<p>File printing: <strong>@print.printName</strong></p>
<p>Estimated print time:</p>
<p>Elapsed print time:</p>
<p>Start time: <strong>@print.printJob.FormattedStartTime</strong></p>
<p>File Size: <strong>@print.fileSize MB</strong></p>


@code {
    public string fileToPrint = "";
    public List<string> files;
    // private IBrowserFile file;

    protected override void OnInitialized()
    {
        if (serial.initialized)
        {
            files = print.ListSDFiles();
        }
    }
}
