@page "/temperature"
@using MachineControlHub.Temps
@using MachineControlHub.Motion
@inject Data.ConnectionServiceSerial serial
@inject Data.PrinterDataService printerData
@inject Data.HotendTemperatureService hotend
@inject Data.BedTemperatureService bed
@implements IDisposable

<div class="center-div">
<h5 style="color: @(serial.isConnected == "Connected" ? "green" : "red")">@serial.isConnected</h5>


<h1>Temperature</h1>

<div>
    <p>Current Hotend Temperature</p>
    <p>@hotend.currentHotendTemperature</p>
    <p>Target Hotend Temperature</p>
    <p>@hotend.targetHotendTemperature</p>
    <br />
    <p>Current Bed Temperature</p>
    <p>@bed.currentBedTemperature</p>
    <p>Target Bed Temperature</p>
    <p>@bed.targetBedTemperature</p>

    <input type="number" @bind="@hotend.setHotendTemperature" />
    <button class="btn-outline-primary" @onclick="() => hotend.SetHotendTemperature(hotend.setHotendTemperature)">Set Hotend Temperature</button>
    <button class="btn-danger" @onclick="() => hotend.SetHotendTemperature(0)">Turn Hotend Off</button>
    <input type="number" @bind="@bed.setBedTemperature" />
    <button class="btn-outline-primary" @onclick="() => bed.SetBedTemperature(bed.setBedTemperature)">Set Bed Temperature</button>
    <button class="btn-danger" @onclick="() => bed.SetBedTemperature(0)">Turn Bed Off</button>
    <br />
    <button class="btn-outline-primary" @onclick="() => hotend.ChangeFilament()">Change Filament</button>
    <button class="btn-outline-primary" @onclick="() => hotend.LoadFilament()">Load Filament</button>
    <button class="btn-outline-primary" @onclick="() => hotend.UnloadFilament()">Unload Filament</button>


</div>
</div>
@code {

    private Timer timer;
    protected override void OnInitialized()
    {
        timer = new Timer(UpdateTemperatureValues, null, TimeSpan.Zero, TimeSpan.FromSeconds(1));
    }

    private async void UpdateTemperatureValues(object state)
    {
        if (serial.initialized)
        {
            hotend.ParseCurrentHotendTemperature();
            bed.ParseCurrentBedTemperature();

            await InvokeAsync(StateHasChanged);
        }
    }

    void IDisposable.Dispose()
    {
        timer.Dispose();
    }

}
